Repository aws-samples/serverless-patterns, pull requests merged in 2022-11, with the labels that each got.

#907 New Serverless pattern - DynamoDB data seed on create with custom resource
  dynamodb-seed-data-on-create-cdk/.gitignore
  dynamodb-seed-data-on-create-cdk/.npmignore
  dynamodb-seed-data-on-create-cdk/README.md
  dynamodb-seed-data-on-create-cdk/bin/dynamodb-seed-data-on-create-cdk.ts
  dynamodb-seed-data-on-create-cdk/cdk.json
  dynamodb-seed-data-on-create-cdk/example-pattern.json
  dynamodb-seed-data-on-create-cdk/lib/dynamodb-seed-data-on-create-cdk-stack.ts
  dynamodb-seed-data-on-create-cdk/package.json
  dynamodb-seed-data-on-create-cdk/tsconfig.json
Labels: valid-example-pattern-file

#910 added claim check pattern for s3 and eventbridge
  s3-to-eventbridge-claim-check-pattern/README.md
  s3-to-eventbridge-claim-check-pattern/cdk/.gitignore
  s3-to-eventbridge-claim-check-pattern/cdk/README.md
  s3-to-eventbridge-claim-check-pattern/cdk/bin/s3-to-eventbridge-automatic-claim-check-pattern.ts
  s3-to-eventbridge-claim-check-pattern/cdk/cdk.json
  s3-to-eventbridge-claim-check-pattern/cdk/jest.config.js
  s3-to-eventbridge-claim-check-pattern/cdk/lib/s3-to-eventbridge-automatic-claim-check-pattern-stack.ts
  s3-to-eventbridge-claim-check-pattern/cdk/package.json
  s3-to-eventbridge-claim-check-pattern/cdk/screenshot.png
  s3-to-eventbridge-claim-check-pattern/cdk/src/consumers/ClaimCreated/index.ts
  s3-to-eventbridge-claim-check-pattern/cdk/src/consumers/ClaimProcessed/index.ts
  s3-to-eventbridge-claim-check-pattern/cdk/src/s3-to-domain-event-transformer/index.ts
  s3-to-eventbridge-claim-check-pattern/cdk/tsconfig.json
  s3-to-eventbridge-claim-check-pattern/example-pattern.json
Labels: valid-example-pattern-file

#911 added outbox pattern for eventbridge and ddb
  dynamodb-streams-to-eventbridge-outbox-pattern/README.md
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/.gitignore
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/README .md
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/bin/eventbridge-outbox-pattern-with-ddb.ts
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/cdk.json
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/jest.config.js
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/lib/eventbridge-outbox-pattern-with-ddb-stack.ts
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/package.json
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/screenshot.png
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/src/consumers/user-created/index.ts
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/src/ddb-stream-into-eventbridge-events/index.ts
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/src/write-to-ddb/index.ts
  dynamodb-streams-to-eventbridge-outbox-pattern/cdk/tsconfig.json
  dynamodb-streams-to-eventbridge-outbox-pattern/example-pattern.json
Labels: valid-example-pattern-file

#915 added pattern to help consumers get notified when schemas change
  eventbridge-schema-notifications/README.md
  eventbridge-schema-notifications/cdk/.gitignore
  eventbridge-schema-notifications/cdk/.npmignore
  eventbridge-schema-notifications/cdk/README.md
  eventbridge-schema-notifications/cdk/bin/notify-consumers-of-schema-changes.ts
  eventbridge-schema-notifications/cdk/cdk.json
  eventbridge-schema-notifications/cdk/jest.config.js
  eventbridge-schema-notifications/cdk/lib/notify-consumers-of-schema-changes-stack.ts
  eventbridge-schema-notifications/cdk/package.json
  eventbridge-schema-notifications/cdk/plugins/slack/notify-slack-lambda.ts
  eventbridge-schema-notifications/cdk/plugins/slack/plugin.ts
  eventbridge-schema-notifications/cdk/screenshot.png
  eventbridge-schema-notifications/cdk/slack-example1.png
  eventbridge-schema-notifications/cdk/slack-example2.png
  eventbridge-schema-notifications/cdk/src/schema-notifier.ts
  eventbridge-schema-notifications/cdk/test-events/NewEvent.json
  eventbridge-schema-notifications/cdk/test-events/UserCreated.json
  eventbridge-schema-notifications/cdk/tsconfig.json
  eventbridge-schema-notifications/example-pattern.json
Labels: valid-example-pattern-file

#876 CDK project to authenticate API using Cognito client credentials flow
  cdk-cognito-apigateway-lambda/.gitignore
  cdk-cognito-apigateway-lambda/.npmignore
  cdk-cognito-apigateway-lambda/README.md
  cdk-cognito-apigateway-lambda/bin/cdk-cognito-apigateway-lambda.ts
  cdk-cognito-apigateway-lambda/cdk.json
  cdk-cognito-apigateway-lambda/example-pattern.json
  cdk-cognito-apigateway-lambda/jest.config.js
  cdk-cognito-apigateway-lambda/lambda/user.js
  cdk-cognito-apigateway-lambda/package.json
  cdk-cognito-apigateway-lambda/tsconfig.json
Labels: valid-example-pattern-file

#913 New serverless pattern - glue-eventbridge-lambda-cdk
  glue-eventbridge-lambda-cdk/.gitignore
  glue-eventbridge-lambda-cdk/README.md
  glue-eventbridge-lambda-cdk/app.py
  glue-eventbridge-lambda-cdk/cdk.json
  glue-eventbridge-lambda-cdk/example-pattern.json
  glue-eventbridge-lambda-cdk/glue-scripts/glue-streaming-job.py
  glue-eventbridge-lambda-cdk/glue-scripts/sample_test/sample-data.csv
  glue-eventbridge-lambda-cdk/glue_eventbridge_lambda_cdk/glue_eventbridge_lambda_cdk_stack.py
  glue-eventbridge-lambda-cdk/lambda_fns/lambdaFunctionFromEventBridge.py
  glue-eventbridge-lambda-cdk/requirements-dev.txt
  glue-eventbridge-lambda-cdk/requirements.txt
  glue-eventbridge-lambda-cdk/source.bat
  glue-eventbridge-lambda-cdk/tests/unit/test_glue_eventbridge_lambda_cdk_stack.py
Labels: valid-example-pattern-file

#904 UPDATE - [New Serverless Pattern - appsync-cognito-lambda-cdk]
  appsync-cognito-lambda-cdk/.gitignore
  appsync-cognito-lambda-cdk/example-pattern.json
  appsync-cognito-lambda-cdk/lib/cognito-auth-cdk-stack.ts
  appsync-cognito-lambda-cdk/lib/lambda-fns/app.ts
Labels: valid-example-pattern-file

#899 New Serverless Pattern Connected Home Label Detection + Actions with KVS, Rekognition, Lambda ft. CDK
  kinesis-video-rekognition-lambda/README.md
  kinesis-video-rekognition-lambda/example-pattern.json
  kinesis-video-rekognition-lambda/src/.gitignore
  kinesis-video-rekognition-lambda/src/.npmignore
  kinesis-video-rekognition-lambda/src/README.md
  kinesis-video-rekognition-lambda/src/bin/src.ts
  kinesis-video-rekognition-lambda/src/cdk.json
  kinesis-video-rekognition-lambda/src/jest.config.js
  kinesis-video-rekognition-lambda/src/lib/kvs-rekognition-stack.ts
  kinesis-video-rekognition-lambda/src/lib/lambda/index.py
  kinesis-video-rekognition-lambda/src/package.json
  kinesis-video-rekognition-lambda/src/test/src.test.ts
  kinesis-video-rekognition-lambda/src/tsconfig.json
Labels: invalid-example-pattern-file, valid-example-pattern-file

#931 Lambda SnapStart pattern
  .gitignore
  apigw-lambda-snapstart/README.md
  apigw-lambda-snapstart/UnicornFunction/pom.xml
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/StoreApplication.java
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/StreamLambdaHandler.java
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/UnicornPrimingResource.java
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/controller/UnicornController.java
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/data/DynamoDBUnicornRepository.java
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/data/UnicornMapper.java
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/data/UnicornRepository.java
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/exceptions/ResourceNotFoundException.java
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/model/Unicorn.java
  apigw-lambda-snapstart/UnicornFunction/src/main/java/com/unicorn/store/service/UnicornService.java
  apigw-lambda-snapstart/UnicornFunction/src/main/resources/application.properties
  apigw-lambda-snapstart/example-pattern.json
  apigw-lambda-snapstart/template.yaml
Labels: requested-changes, invalid-example-pattern-file
