Repository aws-samples/serverless-patterns, pull requests merged in 2022-09, with the labels that each got.

#847 New serverless pattern - Stepfunction to Polly to S3
  stepfunction-polly-s3-cdk/.gitignore
  stepfunction-polly-s3-cdk/.npmignore
  stepfunction-polly-s3-cdk/README.md
  stepfunction-polly-s3-cdk/bin/stepfunction-polly-s3-cdk.ts
  stepfunction-polly-s3-cdk/cdk.json
  stepfunction-polly-s3-cdk/example-pattern.json
  stepfunction-polly-s3-cdk/lib/stepfunction-polly-s3-cdk-stack.ts
  stepfunction-polly-s3-cdk/package.json
  stepfunction-polly-s3-cdk/tsconfig.json
Labels: valid-example-pattern-file

#840 New serverless pattern - Step Function to SES - Send Email
  stepfunction-ses-cdk/.gitignore
  stepfunction-ses-cdk/.npmignore
  stepfunction-ses-cdk/README.md
  stepfunction-ses-cdk/bin/stepfunction-ses-cdk.ts
  stepfunction-ses-cdk/cdk.json
  stepfunction-ses-cdk/example-pattern.json
  stepfunction-ses-cdk/lib/stepfunction-ses-cdk-stack.ts
  stepfunction-ses-cdk/package.json
  stepfunction-ses-cdk/tsconfig.json
Labels: valid-example-pattern-file

#849 Adding pattern lambda destinations cdk
  lambda-destinations-cdk/README.md
  lambda-destinations-cdk/cdk/.gitignore
  lambda-destinations-cdk/cdk/.npmignore
  lambda-destinations-cdk/cdk/README.md
  lambda-destinations-cdk/cdk/bin/cdk.ts
  lambda-destinations-cdk/cdk/cdk.json
  lambda-destinations-cdk/cdk/functions/reciever.js
  lambda-destinations-cdk/cdk/functions/senderDestination.js
  lambda-destinations-cdk/cdk/jest.config.js
  lambda-destinations-cdk/cdk/lib/async-functions.ts
  lambda-destinations-cdk/cdk/package.json
  lambda-destinations-cdk/cdk/test/cdk.test.ts
  lambda-destinations-cdk/cdk/tsconfig.json
  lambda-destinations-cdk/example-pattern.json
Labels: valid-example-pattern-file

#848 Existing Pattern : Lambda-Glue-S3
  lambda-glue-s3/app.py
Labels: missing-example-pattern-file

#833 New serverless pattern: lambda-vpc-interface-endpoints-secrets-manager
  lambda-vpc-interface-endpoints-secrets-manager/.gitignore
  lambda-vpc-interface-endpoints-secrets-manager/README.md
  lambda-vpc-interface-endpoints-secrets-manager/bin/aws-lambda-to-secrets-manager-in-private-subnet.ts
  lambda-vpc-interface-endpoints-secrets-manager/cdk.json
  lambda-vpc-interface-endpoints-secrets-manager/example-pattern.json
  lambda-vpc-interface-endpoints-secrets-manager/jest.config.js
  lambda-vpc-interface-endpoints-secrets-manager/lambda/LambdaFunctionPrivate/handler.py
  lambda-vpc-interface-endpoints-secrets-manager/lib/aws-lambda-to-secrets-manager-in-private-subnet-stack.ts
  lambda-vpc-interface-endpoints-secrets-manager/package.json
  lambda-vpc-interface-endpoints-secrets-manager/tsconfig.json
Labels: valid-example-pattern-file

#831 New pattern Lambda to Athena
  lambda-athena-sam/README.md
  lambda-athena-sam/example-pattern.json
  lambda-athena-sam/function/athenaquerymaker.py
  lambda-athena-sam/template.yaml
Labels: valid-example-pattern-file

#851 New serverless pattern - ALB - Lambda target - CDK
  alb-lambda-cdk/.gitignore
  alb-lambda-cdk/.npmignore
  alb-lambda-cdk/README.md
  alb-lambda-cdk/bin/alb-lambda-cdk.ts
  alb-lambda-cdk/cdk.json
  alb-lambda-cdk/example-pattern.json
  alb-lambda-cdk/lambda/index.ts
  alb-lambda-cdk/lambda/package.json
  alb-lambda-cdk/lib/alb-lambda-cdk-stack.ts
  alb-lambda-cdk/package.json
  alb-lambda-cdk/tsconfig.json
Labels: valid-example-pattern-file

#852 New Pattern Lambda KDS Lambda using CDK
  lambda-kinesis-lambda-cdk/README.md
  lambda-kinesis-lambda-cdk/app.py
  lambda-kinesis-lambda-cdk/cdk.json
  lambda-kinesis-lambda-cdk/lambda-kinesis-lambda-cdk-pattern.json
  lambda-kinesis-lambda-cdk/lambda_kinesis_lambda_cdk/__init__.py
  lambda-kinesis-lambda-cdk/lambda_kinesis_lambda_cdk/lambda_kinesis_lambda_cdk_stack.py
  lambda-kinesis-lambda-cdk/requirements.txt
  lambda-kinesis-lambda-cdk/src/consumer/lambda_function.py
  lambda-kinesis-lambda-cdk/src/producer/lambda_function.py
Labels: missing-example-pattern-file

#857 New serverless pattern - Face index with Amazon Rekognition - CDK
  s3-lambda-rekognition-cdk/.gitignore
  s3-lambda-rekognition-cdk/.npmignore
  s3-lambda-rekognition-cdk/README.md
  s3-lambda-rekognition-cdk/bin/s3-lambda-rekognition-cdk.ts
  s3-lambda-rekognition-cdk/cdk.json
  s3-lambda-rekognition-cdk/example-pattern.json
  s3-lambda-rekognition-cdk/jest.config.js
  s3-lambda-rekognition-cdk/lambda/IndexFace/index.ts
  s3-lambda-rekognition-cdk/lambda/IndexFace/package.json
  s3-lambda-rekognition-cdk/lib/s3-lambda-rekognition-cdk-stack.ts
  s3-lambda-rekognition-cdk/package.json
  s3-lambda-rekognition-cdk/tsconfig.json
Labels: valid-example-pattern-file

#841 New serverless pattern - CloudWatch Logs subscription for Lambda - CDK
  cloudwatch-logs-subscription-lambda-cdk/.gitignore
  cloudwatch-logs-subscription-lambda-cdk/.npmignore
  cloudwatch-logs-subscription-lambda-cdk/README.md
  cloudwatch-logs-subscription-lambda-cdk/bin/cloudwatch-logs-subscription-lambda-cdk.ts
  cloudwatch-logs-subscription-lambda-cdk/cdk.json
  cloudwatch-logs-subscription-lambda-cdk/example-pattern.json
  cloudwatch-logs-subscription-lambda-cdk/example_logs.log
  cloudwatch-logs-subscription-lambda-cdk/jest.config.js
  cloudwatch-logs-subscription-lambda-cdk/lambda/index.ts
  cloudwatch-logs-subscription-lambda-cdk/lib/cloudwatch-logs-subscription-lambda-cdk-stack.ts
  cloudwatch-logs-subscription-lambda-cdk/package.json
  cloudwatch-logs-subscription-lambda-cdk/tsconfig.json
Labels: valid-example-pattern-file

#826 pushing pattern to github
  sfn-lambda-function-crossaccount-terraform/README.md
  sfn-lambda-function-crossaccount-terraform/example-pattern.json
  sfn-lambda-function-crossaccount-terraform/images/stepfunctions-crossacc-lambda.png
  sfn-lambda-function-crossaccount-terraform/lambda-function.tf
  sfn-lambda-function-crossaccount-terraform/lambdacode.zip
  sfn-lambda-function-crossaccount-terraform/main.tf
  sfn-lambda-function-crossaccount-terraform/step-function.tf
  step-function-lambda-function-crossaccount-terraform/example-pattern.json
Labels: requested-changes, invalid-example-pattern-file

#860 New serverless pattern - Step function to Step function with CDK
  sfn-to-sfn-cdk/.gitignore
  sfn-to-sfn-cdk/.npmignore
  sfn-to-sfn-cdk/README.md
  sfn-to-sfn-cdk/bin/sfn-to-sfn-cdk.ts
  sfn-to-sfn-cdk/cdk.json
  sfn-to-sfn-cdk/example-pattern.json
  sfn-to-sfn-cdk/lib/sfn-to-sfn-cdk-stack.ts
  sfn-to-sfn-cdk/package.json
  sfn-to-sfn-cdk/tsconfig.json
Labels: requested-changes, valid-example-pattern-file
