Repository aws-samples/serverless-patterns, pull requests merged in 2023-11, with the labels that each got.

#1674 new pattern - Kinesis Poison Pill Pattern
  terraform-kinesis-poison-pill/README.md
  terraform-kinesis-poison-pill/example-pattern.json
  terraform-kinesis-poison-pill/main.tf
  terraform-kinesis-poison-pill/modules/kinesis-stream/main.tf
  terraform-kinesis-poison-pill/modules/kinesis-stream/output.tf
  terraform-kinesis-poison-pill/modules/kinesis-stream/variable.tf
  terraform-kinesis-poison-pill/modules/lambda/Makefile
  terraform-kinesis-poison-pill/modules/lambda/go.mod
  terraform-kinesis-poison-pill/modules/lambda/go.sum
  terraform-kinesis-poison-pill/modules/lambda/iam_policy_for_lambda.tftpl
  terraform-kinesis-poison-pill/modules/lambda/iam_role_for_lambda.json
  terraform-kinesis-poison-pill/modules/lambda/main.go
  terraform-kinesis-poison-pill/modules/lambda/main.tf
  terraform-kinesis-poison-pill/modules/lambda/outputs.tf
  terraform-kinesis-poison-pill/modules/lambda/package.json
  terraform-kinesis-poison-pill/modules/lambda/sample-event.go
  terraform-kinesis-poison-pill/modules/lambda/variables.tf
  terraform-kinesis-poison-pill/modules/sqs/main.tf
  terraform-kinesis-poison-pill/modules/sqs/output.tf
  terraform-kinesis-poison-pill/modules/sqs/variable.tf
  terraform-kinesis-poison-pill/src/app.js
  terraform-kinesis-poison-pill/variables.tf
Labels: valid-example-pattern-file

#1778 New serverless pattern - appsync-bedrock-cdk
  appsync-bedrock-cdk/.gitignore
  appsync-bedrock-cdk/.npmignore
  appsync-bedrock-cdk/README.md
  appsync-bedrock-cdk/bin/backend.ts
  appsync-bedrock-cdk/cdk.json
  appsync-bedrock-cdk/example-pattern.json
  appsync-bedrock-cdk/jest.config.js
  appsync-bedrock-cdk/lib/backend-stack.ts
  appsync-bedrock-cdk/package.json
  appsync-bedrock-cdk/schema.json
  appsync-bedrock-cdk/src/Mutation.invoke.js
  appsync-bedrock-cdk/src/appsyncRequest.ts
  appsync-bedrock-cdk/src/schema.gql
  appsync-bedrock-cdk/test/backend.test.ts
  appsync-bedrock-cdk/tsconfig.json
Labels: valid-example-pattern-file

#1808 New serverless pattern - apigw-restapi-eventbridge-cdk-serverless
  apigw-rest-api-eventbridge-cdk/.gitignore
  apigw-rest-api-eventbridge-cdk/README.md
  apigw-rest-api-eventbridge-cdk/cdk/apigw_rest_eventbridge.py
  apigw-rest-api-eventbridge-cdk/cdk/app.py
  apigw-rest-api-eventbridge-cdk/cdk/cdk.json
  apigw-rest-api-eventbridge-cdk/cdk/requirements-dev.txt
  apigw-rest-api-eventbridge-cdk/cdk/requirements.txt
  apigw-rest-api-eventbridge-cdk/cdk/source.bat
  apigw-rest-api-eventbridge-cdk/example-pattern.json
Labels: valid-example-pattern-file

#1843 [New Pattern] APIGW-Lambda-Bedrock-js-sam
  apigw-lambda-bedrock-js-sam/.gitignore
  apigw-lambda-bedrock-js-sam/README.md
  apigw-lambda-bedrock-js-sam/bedrock-runtime-js-sdk.zip
  apigw-lambda-bedrock-js-sam/create_lambda_layer.sh
  apigw-lambda-bedrock-js-sam/delete_lambda_layer.sh
  apigw-lambda-bedrock-js-sam/example-pattern.json
  apigw-lambda-bedrock-js-sam/images/architecture.png
  apigw-lambda-bedrock-js-sam/src/index.mjs
  apigw-lambda-bedrock-js-sam/template.yaml
Labels: valid-example-pattern-file

#1812 New Serverless Pattern. bedrock streaming inference integration with lambda streaming function
  lambda-streaming-ttfb-write-sam-with-bedrock-streaming/README.md
  lambda-streaming-ttfb-write-sam-with-bedrock-streaming/example-pattern.json
  lambda-streaming-ttfb-write-sam-with-bedrock-streaming/src/index.js
  lambda-streaming-ttfb-write-sam-with-bedrock-streaming/template.yaml
Labels: missing-example-pattern-file

#1820 ew serverless pattern - apigw-http-lambda-documentdb-cdk
  apigw-http-lambda-documentdb-cdk/README.md
  apigw-http-lambda-documentdb-cdk/bin/apigw-http-lambda-documentdb.ts
  apigw-http-lambda-documentdb-cdk/cdk.json
  apigw-http-lambda-documentdb-cdk/example-pattern.json
  apigw-http-lambda-documentdb-cdk/jest.config.js
  apigw-http-lambda-documentdb-cdk/joaumann.jpg
  apigw-http-lambda-documentdb-cdk/lambda/app.ts
  apigw-http-lambda-documentdb-cdk/lambda/global-bundle.pem
  apigw-http-lambda-documentdb-cdk/lib/apigw-http-lambda-documentdb-stack.ts
  apigw-http-lambda-documentdb-cdk/package.json
  apigw-http-lambda-documentdb-cdk/src/app.js
  apigw-http-lambda-documentdb-cdk/test/temp.test.ts
  apigw-http-lambda-documentdb-cdk/tsconfig.json
Labels: valid-example-pattern-file

#1865 Added serverless pattern for Event Bridge Scheduler with Amazon SES
  apigw-dynamodb-lambda-scheduler-ses-auto-deletion-sam/README.md
  apigw-dynamodb-lambda-scheduler-ses-auto-deletion-sam/example-pattern.json
  apigw-dynamodb-lambda-scheduler-ses-auto-deletion-sam/images/reminders-application-flow.png
  apigw-dynamodb-lambda-scheduler-ses-auto-deletion-sam/restapi/api.yaml
  apigw-dynamodb-lambda-scheduler-ses-auto-deletion-sam/src/requirements.txt
  apigw-dynamodb-lambda-scheduler-ses-auto-deletion-sam/src/scheduleHandler.py
  apigw-dynamodb-lambda-scheduler-ses-auto-deletion-sam/template.yaml
Labels: valid-example-pattern-file

#1795 New serverless pattern - apigw-sqs-rest
  apigw-sqs-rest/.gitignore
  apigw-sqs-rest/README.md
  apigw-sqs-rest/example-pattern.json
  apigw-sqs-rest/template.yaml
Labels: bug, valid-example-pattern-file

#1856 Adding serverless pattern for traffic shift using VPC Lattice
  vpc-lattice-lambda/README.md
  vpc-lattice-lambda/demolambda/app.py
  vpc-lattice-lambda/demolambda/requirements.txt
  vpc-lattice-lambda/example-pattern.json
  vpc-lattice-lambda/primary/app.py
  vpc-lattice-lambda/secondary/app.py
  vpc-lattice-lambda/template.yaml
Labels: invalid-example-pattern-file

#1718 New serverless pattern - apigw-openapi-lambda-dynamodb-xray-terraform
  apigw-openapi-lambda-dynamodb-xray-terraform/.gitignore
  apigw-openapi-lambda-dynamodb-xray-terraform/README.md
  apigw-openapi-lambda-dynamodb-xray-terraform/build.sh
  apigw-openapi-lambda-dynamodb-xray-terraform/deploy.sh
  apigw-openapi-lambda-dynamodb-xray-terraform/example-pattern.json
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/data.tf
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/main.tf
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/openapi-spec.yaml
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/outputs.tf
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/providers.tf
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/restapi/data.tf
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/restapi/main.tf
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/restapi/outputs.tf
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/restapi/variables.tf
  apigw-openapi-lambda-dynamodb-xray-terraform/infra/variables.tf
  apigw-openapi-lambda-dynamodb-xray-terraform/package.json
  apigw-openapi-lambda-dynamodb-xray-terraform/src/lambdas/openapi-demo/index.ts
  apigw-openapi-lambda-dynamodb-xray-terraform/src/layers/common/model.ts
  apigw-openapi-lambda-dynamodb-xray-terraform/src/layers/common/util.ts
  apigw-openapi-lambda-dynamodb-xray-terraform/test/request.json
  apigw-openapi-lambda-dynamodb-xray-terraform/test/run-test.sh
  apigw-openapi-lambda-dynamodb-xray-terraform/tsconfig.json
  apigw-openapi-lambda-dynamodb-xray-terraform/xray-service-map.png
Labels: valid-example-pattern-file

#1860 New serverless pattern - claim-check-pattern-dotnet-cdk
  claim-check-pattern-dotnet-cdk/.gitignore
  claim-check-pattern-dotnet-cdk/ClaimCheckPattern.sln.template
  claim-check-pattern-dotnet-cdk/README.md
  claim-check-pattern-dotnet-cdk/cdk/Cdk.csproj
  claim-check-pattern-dotnet-cdk/cdk/CdkStack.cs
  claim-check-pattern-dotnet-cdk/cdk/GlobalSuppressions.cs
  claim-check-pattern-dotnet-cdk/cdk/Program.cs
  claim-check-pattern-dotnet-cdk/cdk/cdk.json
  claim-check-pattern-dotnet-cdk/example-pattern.json
  claim-check-pattern-dotnet-cdk/lambda/ClaimCheckDataCreator.cs
  claim-check-pattern-dotnet-cdk/lambda/ClaimCheckPattern.csproj
  claim-check-pattern-dotnet-cdk/lambda/ClaimCheckRetriever.cs
  claim-check-pattern-dotnet-cdk/lambda/ClaimCheckSplitter.cs
  claim-check-pattern-dotnet-cdk/lambda/Models/ClaimCheck.cs
  claim-check-pattern-dotnet-cdk/lambda/Models/FullMessage.cs
Labels: valid-example-pattern-file

#1855 Kinesis Data Firehose Data Transformation using AWS Lambda (JAVA and CDK)
  cdk-firehose-s3-transform-java/.gitignore
  cdk-firehose-s3-transform-java/README.md
  cdk-firehose-s3-transform-java/architecture.png
  cdk-firehose-s3-transform-java/example-pattern.json
  cdk-firehose-s3-transform-java/infrastructure/.gitignore
  cdk-firehose-s3-transform-java/infrastructure/cdk.json
  cdk-firehose-s3-transform-java/infrastructure/deploy.sh
  cdk-firehose-s3-transform-java/infrastructure/pom.xml
  cdk-firehose-s3-transform-java/infrastructure/src/main/java/com/myorg/CdkFirehoseLambdaS3JavaApp.java
  cdk-firehose-s3-transform-java/infrastructure/src/main/java/com/myorg/CdkFirehoseLambdaS3JavaStack.java
  cdk-firehose-s3-transform-java/infrastructure/src/test/java/com/myorg/AppTest.java
  cdk-firehose-s3-transform-java/pom.xml
  cdk-firehose-s3-transform-java/software/.gitignore
  cdk-firehose-s3-transform-java/software/FirehoseTransformationLambda/pom.xml
  cdk-firehose-s3-transform-java/software/FirehoseTransformationLambda/src/main/java/com/myorg/kinesis/client/App.java
  cdk-firehose-s3-transform-java/software/FirehoseTransformationLambda/src/main/java/com/myorg/kinesis/client/model/ResponseRecord.java
  cdk-firehose-s3-transform-java/software/FirehoseTransformationLambda/src/main/java/com/myorg/kinesis/client/model/TransofrmedRecords.java
  cdk-firehose-s3-transform-java/software/FirehoseTransformationLambda/src/test/java/com/myorg/AppTest.java
  cdk-firehose-s3-transform-java/template.yml
Labels: valid-example-pattern-file

#1816 New serverless pattern - alb-path-based-route-lambda-dotnet-cdk
  alb-path-based-route-lambda-cdk/.gitignore
  alb-path-based-route-lambda-cdk/Pushparaju.jpeg
  alb-path-based-route-lambda-cdk/README.md
  alb-path-based-route-lambda-cdk/alb-lambda.jpg
  alb-path-based-route-lambda-cdk/cdk.json
  alb-path-based-route-lambda-cdk/example-pattern.json
  alb-path-based-route-lambda-cdk/src/AlbPathBasedRouteLambdaCdk.sln
  alb-path-based-route-lambda-cdk/src/AlbPathBasedRouteLambdaCdk/AlbPathBasedRouteLambdaCdk.csproj
  alb-path-based-route-lambda-cdk/src/AlbPathBasedRouteLambdaCdk/AlbPathBasedRouteLambdaCdkStack.cs
  alb-path-based-route-lambda-cdk/src/AlbPathBasedRouteLambdaCdk/GlobalSuppressions.cs
  alb-path-based-route-lambda-cdk/src/AlbPathBasedRouteLambdaCdk/Lambda1.zip
  alb-path-based-route-lambda-cdk/src/AlbPathBasedRouteLambdaCdk/Lambda2.zip
  alb-path-based-route-lambda-cdk/src/AlbPathBasedRouteLambdaCdk/Program.cs
Labels: valid-example-pattern-file

#1828 New serverless pattern - apigw-restapi-eventbridge-sqs-queues-fanout-cdk-serverless
  apigw-rest-api-eventbridge-sqs-fanout-cdk/README.md
  apigw-rest-api-eventbridge-sqs-fanout-cdk/cdk/.gitignore
  apigw-rest-api-eventbridge-sqs-fanout-cdk/cdk/apigw_rest_eventbridge_sqs.py
  apigw-rest-api-eventbridge-sqs-fanout-cdk/cdk/app.py
  apigw-rest-api-eventbridge-sqs-fanout-cdk/cdk/cdk.json
  apigw-rest-api-eventbridge-sqs-fanout-cdk/cdk/requirements-dev.txt
  apigw-rest-api-eventbridge-sqs-fanout-cdk/cdk/requirements.txt
  apigw-rest-api-eventbridge-sqs-fanout-cdk/cdk/source.bat
  apigw-rest-api-eventbridge-sqs-fanout-cdk/example-pattern.json
Labels: valid-example-pattern-file
