Repository aws-samples/serverless-patterns, pull requests merged in 2023-04, with the labels that each got.

#1133 feat: apigw to sqs pattern (typescript)
  apigw-sqs-cdk-typescript/.gitignore
  apigw-sqs-cdk-typescript/.npmignore
  apigw-sqs-cdk-typescript/README.md
  apigw-sqs-cdk-typescript/bin/apigw-sqs-cdk.ts
  apigw-sqs-cdk-typescript/cdk.json
  apigw-sqs-cdk-typescript/example-pattern.json
  apigw-sqs-cdk-typescript/jest.config.js
  apigw-sqs-cdk-typescript/lib/apigw-sqs-cdk-stack.ts
  apigw-sqs-cdk-typescript/lib/apigw-sqs.ts
  apigw-sqs-cdk-typescript/package.json
  apigw-sqs-cdk-typescript/test/apigw-sqs-cdk.test.ts
  apigw-sqs-cdk-typescript/tsconfig.json
Labels: valid-example-pattern-file

#1158 New serverless pattern- ecs-windows-cdk-dotnet
  ecs-windows-cdk-dotnet/.gitignore
  ecs-windows-cdk-dotnet/README.md
  ecs-windows-cdk-dotnet/cdk/.gitignore
  ecs-windows-cdk-dotnet/cdk/cdk.json
  ecs-windows-cdk-dotnet/cdk/src/WindowsECS.sln
  ecs-windows-cdk-dotnet/cdk/src/WindowsECS/ALBStack.cs
  ecs-windows-cdk-dotnet/cdk/src/WindowsECS/GlobalSuppressions.cs
  ecs-windows-cdk-dotnet/cdk/src/WindowsECS/Program.cs
  ecs-windows-cdk-dotnet/cdk/src/WindowsECS/SecurityGroupStack.cs
  ecs-windows-cdk-dotnet/cdk/src/WindowsECS/VPCStack.cs
  ecs-windows-cdk-dotnet/cdk/src/WindowsECS/WindowsECS.csproj
  ecs-windows-cdk-dotnet/cdk/src/WindowsECS/WindowsECSClusterStack.cs
  ecs-windows-cdk-dotnet/example-pattern.json
  ecs-windows-cdk-dotnet/images/architecture.png
Labels: valid-example-pattern-file

#1140 Rajdbanhujeffe feature eventbridge ecs serverless
  s3-eventbridge-ecs/README.md
  s3-eventbridge-ecs/ecr-task-uri.JPG
  s3-eventbridge-ecs/example-pattern.json
  s3-eventbridge-ecs/pattern_s3_eb_ecs.tf
  s3-eventbridge-ecs/s3-eb-ecs.png
  s3-eventbridge-ecs/src/docker/Dockerfile
  s3-eventbridge-ecs/src/docker/README.md
  s3-eventbridge-ecs/src/docker/build.sh
  s3-eventbridge-ecs/src/docker/requirements.txt
  s3-eventbridge-ecs/src/docker/task.py
Labels: valid-example-pattern-file

#1196 Initial creation of pattern - EventBridge Scheduler to send messages to SQS using CDK for TypeScript
  eventbridge-schedule-to-sqs-cdk-typescript/.gitignore
  eventbridge-schedule-to-sqs-cdk-typescript/.npmignore
  eventbridge-schedule-to-sqs-cdk-typescript/README.md
  eventbridge-schedule-to-sqs-cdk-typescript/bin/eventbridge-schedule-to-sqs-cdk-typescript.ts
  eventbridge-schedule-to-sqs-cdk-typescript/cdk.json
  eventbridge-schedule-to-sqs-cdk-typescript/example-pattern.json
  eventbridge-schedule-to-sqs-cdk-typescript/jest.config.js
  eventbridge-schedule-to-sqs-cdk-typescript/lib/eventbridge-schedule-to-sqs-cdk-typescript-stack.ts
  eventbridge-schedule-to-sqs-cdk-typescript/package.json
  eventbridge-schedule-to-sqs-cdk-typescript/tsconfig.json
Labels: valid-example-pattern-file

#1219 New serverless pattern - apigw-execution-access-logs
  apigw-execution-logs/README.md
  apigw-execution-logs/example-pattern.json
  apigw-execution-logs/template.yaml
Labels: valid-example-pattern-file

#1164 APIGW-Kinesis-Integration
  apigw-kinesis/APIGW-Kinesis.png
  apigw-kinesis/README.md
  apigw-kinesis/example-pattern.json
  apigw-kinesis/template.yaml
Labels: requested-changes, missing-example-pattern-file

#1253 Kimevgaws feature eventbridge scheduler ssm cdk typescript
  eventbridge-scheduler-ssm-cdk-typescript/.gitignore
  eventbridge-scheduler-ssm-cdk-typescript/.npmignore
  eventbridge-scheduler-ssm-cdk-typescript/README.md
  eventbridge-scheduler-ssm-cdk-typescript/bin/eventbridge-scheduler-ssm-cdk-typescript.ts
  eventbridge-scheduler-ssm-cdk-typescript/cdk.json
  eventbridge-scheduler-ssm-cdk-typescript/example-pattern.json
  eventbridge-scheduler-ssm-cdk-typescript/jest.config.js
  eventbridge-scheduler-ssm-cdk-typescript/lib/eventbridge-scheduler-ssm-cdk-typescript-stack.ts
  eventbridge-scheduler-ssm-cdk-typescript/package.json
  eventbridge-scheduler-ssm-cdk-typescript/test/eventbridge-scheduler-ssm-cdk-typescript.test.ts
  eventbridge-scheduler-ssm-cdk-typescript/tsconfig.json
Labels: requested-changes, invalid-example-pattern-file

#1233 New Serverless pattern - EventBridge Scheduler to StartSfn CDK in Go
  eventbridge-schedule-to-step-function-cdk-go/README.md
  eventbridge-schedule-to-step-function-cdk-go/cdk/cdk.json
  eventbridge-schedule-to-step-function-cdk-go/cdk/go.mod
  eventbridge-schedule-to-step-function-cdk-go/cdk/go.sum
  eventbridge-schedule-to-step-function-cdk-go/cdk/main.go
  eventbridge-schedule-to-step-function-cdk-go/example-pattern.json
Labels: valid-example-pattern-file

#1271 Fixing the github broken links
  eventbridge-pipes-msk-iam-auth-to-lambda/example-pattern.json
  eventbridge-pipes-msk-to-lambda/example-pattern.json
Labels: valid-example-pattern-file

#1278 New Pattern: EventBridge Scheduler schedule publishes to Amazon SNS
  eventbridge-schedule-to-sns-cdk-python/.gitignore
  eventbridge-schedule-to-sns-cdk-python/README.md
  eventbridge-schedule-to-sns-cdk-python/app.py
  eventbridge-schedule-to-sns-cdk-python/cdk.json
  eventbridge-schedule-to-sns-cdk-python/eventbridge_schedule_to_sns_cdk_python/__init__.py
  eventbridge-schedule-to-sns-cdk-python/eventbridge_schedule_to_sns_cdk_python/eventbridge_schedule_to_sns_cdk_python_stack.py
  eventbridge-schedule-to-sns-cdk-python/example-pattern.json
  eventbridge-schedule-to-sns-cdk-python/requirements.txt
Labels: valid-example-pattern-file

#1203 Gourangharhare New serverless pattern - Stream CloudWatch logs to Splunk near real-time
  cloudwatch-logs-to-splunk-using-lambda-kinesis/README.md
  cloudwatch-logs-to-splunk-using-lambda-kinesis/bin/kinesis-data-stream-log-processor.ts
  cloudwatch-logs-to-splunk-using-lambda-kinesis/cdk.json
  cloudwatch-logs-to-splunk-using-lambda-kinesis/example-pattern.json
  cloudwatch-logs-to-splunk-using-lambda-kinesis/package.json
  cloudwatch-logs-to-splunk-using-lambda-kinesis/src/index.js
  cloudwatch-logs-to-splunk-using-lambda-kinesis/src/lib/mysplunklogger.js
  cloudwatch-logs-to-splunk-using-lambda-kinesis/tsconfig.json
Labels: valid-example-pattern-file

#1243 New Pattern: EventBridge Scheduler to run task in ECS cluster with CDK GO
  eventbridge-schedule-ecs-cdk-go/.gitignore
  eventbridge-schedule-ecs-cdk-go/README.md
  eventbridge-schedule-ecs-cdk-go/cdk.json
  eventbridge-schedule-ecs-cdk-go/eventbridge-schedule-ecs-cdk-go.go
  eventbridge-schedule-ecs-cdk-go/example-pattern.json
  eventbridge-schedule-ecs-cdk-go/go.mod
  eventbridge-schedule-ecs-cdk-go/go.sum
Labels: valid-example-pattern-file
