Repository aws-samples/serverless-patterns, pull requests merged in 2023-07, with the labels that each got.

#1437 New serverless pattern - appsync-dynamodb-singletable-js-resolver
  appsync-dynamodb-singletable-js-resolver/README.md
  appsync-dynamodb-singletable-js-resolver/example-pattern.json
  appsync-dynamodb-singletable-js-resolver/images/mutation-create-child-item.png
  appsync-dynamodb-singletable-js-resolver/images/mutation-create-parent-item.png
  appsync-dynamodb-singletable-js-resolver/images/query-get-parent-with-children.png
  appsync-dynamodb-singletable-js-resolver/sam_graphql_api/resolvers/functions/createChild.js
  appsync-dynamodb-singletable-js-resolver/sam_graphql_api/resolvers/functions/createParent.js
  appsync-dynamodb-singletable-js-resolver/sam_graphql_api/resolvers/functions/getParent.js
  appsync-dynamodb-singletable-js-resolver/sam_graphql_api/resolvers/functions/getParentChildren.js
  appsync-dynamodb-singletable-js-resolver/sam_graphql_api/resolvers/getParentWithChildren.js
  appsync-dynamodb-singletable-js-resolver/sam_graphql_api/schema.graphql
  appsync-dynamodb-singletable-js-resolver/template.yaml
Labels: valid-example-pattern-file

#1454 feat: add eventbridge cloudevents transformer pattern
  eventbridge-cloudevents-transformer-cdk-typescript/README.md
  eventbridge-cloudevents-transformer-cdk-typescript/example-pattern.json
  eventbridge-cloudevents-transformer-cdk-typescript/src/.gitignore
  eventbridge-cloudevents-transformer-cdk-typescript/src/.npmignore
  eventbridge-cloudevents-transformer-cdk-typescript/src/bin/eb-lambda-cloudevents.ts
  eventbridge-cloudevents-transformer-cdk-typescript/src/cdk.json
  eventbridge-cloudevents-transformer-cdk-typescript/src/jest.config.js
  eventbridge-cloudevents-transformer-cdk-typescript/src/lambda/index.ts
  eventbridge-cloudevents-transformer-cdk-typescript/src/lib/eb-lambda-cloudevents-stack.ts
  eventbridge-cloudevents-transformer-cdk-typescript/src/package.json
  eventbridge-cloudevents-transformer-cdk-typescript/src/tsconfig.json
Labels: valid-example-pattern-file

#1464 New serverless pattern - appsync-stepfunctions-express-sam
  appsync-stepfunctions-express-sam/README.md
  appsync-stepfunctions-express-sam/example-pattern.json
  appsync-stepfunctions-express-sam/images/mutation.png
  appsync-stepfunctions-express-sam/schema.graphql
  appsync-stepfunctions-express-sam/template.yaml
Labels: valid-example-pattern-file

#1457 Shankey28 feature cdk s3 sqs lambda dynamodb
  cdk-s3-sqs-lambda-dynamodb/.gitignore
  cdk-s3-sqs-lambda-dynamodb/README.md
  cdk-s3-sqs-lambda-dynamodb/bin/my-cdk-project.ts
  cdk-s3-sqs-lambda-dynamodb/cdk.json
  cdk-s3-sqs-lambda-dynamodb/data/test.csv
  cdk-s3-sqs-lambda-dynamodb/jest.config.js
  cdk-s3-sqs-lambda-dynamodb/lambda/index.py
  cdk-s3-sqs-lambda-dynamodb/lib/my-cdk-project-stack.ts
  cdk-s3-sqs-lambda-dynamodb/package.json
  cdk-s3-sqs-lambda-dynamodb/test/my-cdk-project.test.ts
  cdk-s3-sqs-lambda-dynamodb/tsconfig.json
  data/test.csv
Labels: missing-example-pattern-file

#1455 New serverless pattern - eventbridge-schedule-to-cloudwatch-terraform
  eventbridge-schedule-to-batch-terraform/.gitignore
  eventbridge-schedule-to-batch-terraform/README.md
  eventbridge-schedule-to-batch-terraform/example-pattern.json
  eventbridge-schedule-to-batch-terraform/main.tf
  eventbridge-schedule-to-batch-terraform/variables.tf
  eventbridge-schedule-to-cloudwatch-terraform/.gitignore
  eventbridge-schedule-to-cloudwatch-terraform/README.md
  eventbridge-schedule-to-cloudwatch-terraform/example-pattern.json
  eventbridge-schedule-to-cloudwatch-terraform/main.tf
Labels: requested-changes, invalid-example-pattern-file

#1447 New serverless pattern - IoT rule to SNS topic to SQS queue (Terraform)
  iot-sns-sqs-cfn/README.md
  iot-sns-sqs-cfn/example-pattern.json
  iot-sns-sqs-cfn/template.yaml
  iot-sns-sqs-terraform/README.md
  iot-sns-sqs-terraform/example-pattern.json
  iot-sns-sqs-terraform/main.tf
Labels: requested-changes, invalid-example-pattern-file

#1445 New serverless pattern - IoT rule to SNS topic to SQS queue
  iot-sns-sqs-cfn/README.md
  iot-sns-sqs-cfn/example-pattern.json
  iot-sns-sqs-cfn/template.yaml
Labels: requested-changes, invalid-example-pattern-file

#1450 New serverless pattern - alb-lambda-serverless
  alb-lambda-serverless/README.md
  alb-lambda-serverless/example-pattern.json
  alb-lambda-serverless/handlers/alb-lambda-handler.js
  alb-lambda-serverless/package.json
  alb-lambda-serverless/serverless.yml
  alb-lambda-serverless/yarn.lock
Labels: valid-example-pattern-file

#1423 New Serverless Pattern - Aws Translate with Lambda
  lambda-s3-translate-cdk/README.md
  lambda-s3-translate-cdk/app.py
  lambda-s3-translate-cdk/architecture.png
  lambda-s3-translate-cdk/cdk.json
  lambda-s3-translate-cdk/example-pattern.json
  lambda-s3-translate-cdk/pattern/assets/lambda_function.py
  lambda-s3-translate-cdk/pattern/lambda_s3_translate_cdk_stack.py
  lambda-s3-translate-cdk/requirements.txt
Labels: requested-changes, valid-example-pattern-file

#1439 New serverless pattern - eventbridge-api-destinations - stripe
  eventbridge-api-destinations/10-stripe/example-pattern.json
  eventbridge-api-destinations/10-stripe/template.yaml
  eventbridge-api-destinations/10-stripe/testEvent.json
  eventbridge-api-destinations/README.md
Labels: missing-example-pattern-file

#1436 New Serverless Pattern - Adding custom headers using APIGW and Lambda Token Authorizer
  apigw-lambda-authorizer-custom-header/README.md
  apigw-lambda-authorizer-custom-header/example-pattern.json
  apigw-lambda-authorizer-custom-header/src/authorizer.js
  apigw-lambda-authorizer-custom-header/template.yaml
Labels: valid-example-pattern-file

#1513 SAM based pattern for Eventbridge to SNS to Lambda
  eventbridge-sns-lambda/.gitignore
  eventbridge-sns-lambda/Readme.md
  eventbridge-sns-lambda/example-pattern.json
  eventbridge-sns-lambda/src/app.py
  eventbridge-sns-lambda/template.yaml
Labels: valid-example-pattern-file

#1514 New serverless pattern - Amazon API Gateway - Amazon Kinesis - AWS Lambda
  apigw-kinesis-lambda/README.md
  apigw-kinesis-lambda/example-pattern.json
  apigw-kinesis-lambda/img/APIGW-Kinesis-Lambda.png
  apigw-kinesis-lambda/img/vijay.png
  apigw-kinesis-lambda/src/lambda_function.py
  apigw-kinesis-lambda/template.yaml
Labels: valid-example-pattern-file

#1449 Adding repo for sns-lambda-slack-integration-SAM
  sns-lambda-slack-integration-SAM/.gitignore
  sns-lambda-slack-integration-SAM/README.md
  sns-lambda-slack-integration-SAM/__init__.py
  sns-lambda-slack-integration-SAM/events/event.json
  sns-lambda-slack-integration-SAM/example-pattern.json
  sns-lambda-slack-integration-SAM/hello_world/__init__.py
  sns-lambda-slack-integration-SAM/hello_world/app.py
  sns-lambda-slack-integration-SAM/hello_world/requirements.txt
  sns-lambda-slack-integration-SAM/template.yaml
  sns-lambda-slack-integration-SAM/tests/__init__.py
  sns-lambda-slack-integration-SAM/tests/integration/__init__.py
  sns-lambda-slack-integration-SAM/tests/integration/test_api_gateway.py
  sns-lambda-slack-integration-SAM/tests/requirements.txt
  sns-lambda-slack-integration-SAM/tests/unit/__init__.py
  sns-lambda-slack-integration-SAM/tests/unit/test_handler.py
Labels: missing-example-pattern-file

#1511 Add new pattern API Gateway to Lambda
  apigw-lambda-dynamodb-stream-lambda/README.md
  apigw-lambda-dynamodb-stream-lambda/example-pattern.json
  apigw-lambda-dynamodb-stream-lambda/img/concept.png
  apigw-lambda-dynamodb-stream-lambda/src/apiHandler.py
  apigw-lambda-dynamodb-stream-lambda/src/messageHandler.py
  apigw-lambda-dynamodb-stream-lambda/src/requirements.txt
  apigw-lambda-dynamodb-stream-lambda/template.yaml
Labels: valid-example-pattern-file

#1516 DynamoDB to EventBridge Bus using Pipes and Suffix filtering
  eventbridge-pipes-ddbstream-to-eventbridge-suffix-matching/README.md
  eventbridge-pipes-ddbstream-to-eventbridge-suffix-matching/example-pattern.json
  eventbridge-pipes-ddbstream-to-eventbridge-suffix-matching/template.yaml
Labels: valid-example-pattern-file

#1472 New pattern submission- s3 lambda dotnet
  s3-lambda-dotnet/.gitignore
  s3-lambda-dotnet/ImageResize.sln
  s3-lambda-dotnet/ImageResize/Function.cs
  s3-lambda-dotnet/ImageResize/ImageResize.csproj
  s3-lambda-dotnet/ImageResize/Properties/launchSettings.json
  s3-lambda-dotnet/ImageResize/aws-lambda-tools-defaults.json
  s3-lambda-dotnet/README.md
  s3-lambda-dotnet/example-pattern.json
  s3-lambda-dotnet/images/example.jpeg
  s3-lambda-dotnet/template.yaml
Labels: requested-changes, invalid-example-pattern-file
