Repository aws-samples/serverless-patterns, pull requests merged in 2023-01, with the labels that each got.

#968 New Serverless pattern - SQS to EventBridge Bus using EventBridge Pipes - CDK Python
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/.gitignore
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/README.md
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/app.py
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/cdk.json
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/commands.sh
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/eventbridge_pipes_sqs_to_eventbridge_cdk_python/__init__.py
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/eventbridge_pipes_sqs_to_eventbridge_cdk_python/eventbridge_pipes_sqs_to_eventbridge_cdk_python_stack.py
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/example-pattern.json
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/requirements.txt
  eventbridge-pipes-sqs-to-eventbridge-cdk-python/source.bat
Labels: valid-example-pattern-file

#957 New serverless pattern - cognito-restapi-vpclink-cdk
  cognito-restapi-vpclink-cdk/.gitignore
  cognito-restapi-vpclink-cdk/README.md
  cognito-restapi-vpclink-cdk/cdk/.npmignore
  cognito-restapi-vpclink-cdk/cdk/bin/cdk-cognito-fargate.js
  cognito-restapi-vpclink-cdk/cdk/cdk.json
  cognito-restapi-vpclink-cdk/cdk/lib/cdk-cognito-fargate-stack.js
  cognito-restapi-vpclink-cdk/cdk/package.json
  cognito-restapi-vpclink-cdk/cdk/scripts/test_client.mjs
  cognito-restapi-vpclink-cdk/example-pattern.json
  cognito-restapi-vpclink-cdk/images/diagram.png
Labels: valid-example-pattern-file

#958 New Serverless Pattern: apigw-lambda-json-xml-vtl-transformation
  apigw-lambda-json-xml-vtl-transformation/README.md
  apigw-lambda-json-xml-vtl-transformation/example-pattern.json
  apigw-lambda-json-xml-vtl-transformation/src/app.js
  apigw-lambda-json-xml-vtl-transformation/template.yaml
Labels: valid-example-pattern-file

#976 New Serverless pattern - EB scheduler to Step Function - CDK Python
  eventbridge-schedule-to-step-function-cdk-python/.gitignore
  eventbridge-schedule-to-step-function-cdk-python/README.md
  eventbridge-schedule-to-step-function-cdk-python/app.py
  eventbridge-schedule-to-step-function-cdk-python/cdk.json
  eventbridge-schedule-to-step-function-cdk-python/eventbridge_schedule_to_step_function_cdk_python/__init__.py
  eventbridge-schedule-to-step-function-cdk-python/eventbridge_schedule_to_step_function_cdk_python/eventbridge_schedule_to_step_function_cdk_python_stack.py
  eventbridge-schedule-to-step-function-cdk-python/example_pattern.json
  eventbridge-schedule-to-step-function-cdk-python/requirements.txt
  eventbridge-schedule-to-step-function-cdk-python/source.bat
Labels: missing-example-pattern-file

#973 New Serverless pattern - SQS to Step Function using EB Pipe - CDK Python
  eventbridge-pipes-sqs-to-stepfunctions-cdk-python/.gitignore
  eventbridge-pipes-sqs-to-stepfunctions-cdk-python/README.md
  eventbridge-pipes-sqs-to-stepfunctions-cdk-python/app.py
  eventbridge-pipes-sqs-to-stepfunctions-cdk-python/cdk.json
  eventbridge-pipes-sqs-to-stepfunctions-cdk-python/eventbridge_pipes_sqs_to_stepfunctions_cdk_python/__init__.py
  eventbridge-pipes-sqs-to-stepfunctions-cdk-python/eventbridge_pipes_sqs_to_stepfunctions_cdk_python/eventbridge_pipes_sqs_to_stepfunctions_cdk_python_stack.py
  eventbridge-pipes-sqs-to-stepfunctions-cdk-python/example-pattern.json
  eventbridge-pipes-sqs-to-stepfunctions-cdk-python/requirements.txt
  eventbridge-pipes-sqs-to-stepfunctions-cdk-python/source.bat
Labels: valid-example-pattern-file, missing-example-pattern-file

#971 New Serverless pattern - EB Scheduler to EventBridge to Lambda - CDK Python
  eventbridge-schedule-to-eventbridge-cdk-python/.gitignore
  eventbridge-schedule-to-eventbridge-cdk-python/README.md
  eventbridge-schedule-to-eventbridge-cdk-python/app.py
  eventbridge-schedule-to-eventbridge-cdk-python/cdk.json
  eventbridge-schedule-to-eventbridge-cdk-python/eventbridge_schedule_to_eventbridge_cdk_python/__init__.py
  eventbridge-schedule-to-eventbridge-cdk-python/eventbridge_schedule_to_eventbridge_cdk_python/eventbridge_schedule_to_eventbridge_cdk_python_stack.py
  eventbridge-schedule-to-eventbridge-cdk-python/example-pattern.json
  eventbridge-schedule-to-eventbridge-cdk-python/lambda/index.py
  eventbridge-schedule-to-eventbridge-cdk-python/requirements.txt
  eventbridge-schedule-to-eventbridge-cdk-python/source.bat
Labels: valid-example-pattern-file

#963 New serverless pattern - dynamodbstream to lambda with stepfunction enrichment
  eventbridge-pipes-dynamodbstream-to-lambda-with-stepfunction-enrichment/README.md
  eventbridge-pipes-dynamodbstream-to-lambda-with-stepfunction-enrichment/ddbstream-lambda-stepfunction-enrichment.png
  eventbridge-pipes-dynamodbstream-to-lambda-with-stepfunction-enrichment/example-pattern.json
  eventbridge-pipes-dynamodbstream-to-lambda-with-stepfunction-enrichment/smoitra.png
  eventbridge-pipes-dynamodbstream-to-lambda-with-stepfunction-enrichment/src/lambda_function.py
  eventbridge-pipes-dynamodbstream-to-lambda-with-stepfunction-enrichment/template.yaml
  eventbridge-pipes-dynamodbstream-to-lambda-with-stepfunction-enrichment/workflow/stepfunction.asl.json
Labels: valid-example-pattern-file

#948 New serverless pattern - s3-upload-presignedurl-api-cdk-ts
  s3-upload-presignedurl-api-cdk-ts/.gitignore
  s3-upload-presignedurl-api-cdk-ts/.npmignore
  s3-upload-presignedurl-api-cdk-ts/README.md
  s3-upload-presignedurl-api-cdk-ts/bin/s3-upload-presignedurl-api-cdk.ts
  s3-upload-presignedurl-api-cdk-ts/cdk.json
  s3-upload-presignedurl-api-cdk-ts/example-pattern.json
  s3-upload-presignedurl-api-cdk-ts/jest.config.js
  s3-upload-presignedurl-api-cdk-ts/lib/s3-upload-presignedurl-api-cdk-stack.ts
  s3-upload-presignedurl-api-cdk-ts/package.json
  s3-upload-presignedurl-api-cdk-ts/tsconfig.json
Labels: valid-example-pattern-file

#966 New serverless pattern apigw-lambda-translate
  apigw-lambda-translate/README.md
  apigw-lambda-translate/example-pattern.json
  apigw-lambda-translate/src/index.py
  apigw-lambda-translate/sudheer.jpg
  apigw-lambda-translate/template.yaml
Labels: valid-example-pattern-file

#1000 New Serverless pattern - SQS queue to multiple SQS queues using EB Pipes - CDK Python
  eventbridge-pipes-sqs-to-multiple-sqs/.gitignore
  eventbridge-pipes-sqs-to-multiple-sqs/README.md
  eventbridge-pipes-sqs-to-multiple-sqs/app.py
  eventbridge-pipes-sqs-to-multiple-sqs/cdk.json
  eventbridge-pipes-sqs-to-multiple-sqs/eventbridge_pipes_sqs_to_multiple_sqs/__init__.py
  eventbridge-pipes-sqs-to-multiple-sqs/eventbridge_pipes_sqs_to_multiple_sqs/eventbridge_pipes_sqs_to_multiple_sqs_stack.py
  eventbridge-pipes-sqs-to-multiple-sqs/example-pattern.json
  eventbridge-pipes-sqs-to-multiple-sqs/lambda/index.py
  eventbridge-pipes-sqs-to-multiple-sqs/requirements.txt
  eventbridge-pipes-sqs-to-multiple-sqs/source.bat
Labels: valid-example-pattern-file
