Repository aws-samples/serverless-patterns, pull requests merged in 2023-02, with the labels that each got.

#1004 Update: stepfn-lambda-vpc -> removed unused inbound secgroup rules
  cdk-vpc-lambda-sfn/src/stacks/vpc_stack.ts
Labels: missing-example-pattern-file

#967 New serverless pattern - cwlogs-lambda-sns-sqs-cdk
  cwlogs-lambda-sns-sqs-cdk/README.md
  cwlogs-lambda-sns-sqs-cdk/app.py
  cwlogs-lambda-sns-sqs-cdk/cdk.json
  cwlogs-lambda-sns-sqs-cdk/example-pattern.json
  cwlogs-lambda-sns-sqs-cdk/example_logs.json
  cwlogs-lambda-sns-sqs-cdk/requirements.txt
  cwlogs-lambda-sns-sqs-cdk/src/cwlogs_lambda_sns_sqs/__init__.py
  cwlogs-lambda-sns-sqs-cdk/src/cwlogs_lambda_sns_sqs/__pycache__/__init__.cpython-37.pyc
  cwlogs-lambda-sns-sqs-cdk/src/cwlogs_lambda_sns_sqs/__pycache__/cwlogs_lambda_sns_sqs_stack.cpython-37.pyc
  cwlogs-lambda-sns-sqs-cdk/src/cwlogs_lambda_sns_sqs/cwlogs_lambda_sns_sqs_stack.py
  cwlogs-lambda-sns-sqs-cdk/src/lambda/index.py
Labels: valid-example-pattern-file

#996 cdk-appsync-sns
  cdk-appsync-sns/cdk/.gitignore
  cdk-appsync-sns/cdk/graphql/Query.publish.js
  cdk-appsync-sns/cdk/graphql/schema.graphql
  cdk-appsync-sns/cdk/lib/main.ts
  cdk-appsync-sns/cdk/package.json
  cdk-appsync-sns/example-pattern.json
  cdk-appsync-sns/pattern-cdk-appsync-sns.json
Labels: missing-example-pattern-file

#1034 Adding new pattern for EB global endpoints
  eventbridge-global-endpoints-cdk/README.md
  eventbridge-global-endpoints-cdk/cdk/bin/cdk-eventbridge-globalendpoints.ts
  eventbridge-global-endpoints-cdk/cdk/cdk.json
  eventbridge-global-endpoints-cdk/cdk/function/package.json
  eventbridge-global-endpoints-cdk/cdk/function/put-events.js
  eventbridge-global-endpoints-cdk/cdk/jest.config.js
  eventbridge-global-endpoints-cdk/cdk/lib/boilerplate-stack.ts
  eventbridge-global-endpoints-cdk/cdk/lib/event-bus-stack.ts
  eventbridge-global-endpoints-cdk/cdk/lib/global-endpoint-stack.ts
  eventbridge-global-endpoints-cdk/cdk/lib/put-events-stack.ts
  eventbridge-global-endpoints-cdk/cdk/package.json
  eventbridge-global-endpoints-cdk/cdk/tsconfig.json
  eventbridge-global-endpoints-cdk/example-pattern.json
  eventbridge-global-endpoints-cdk/img/arch.png
Labels: invalid-example-pattern-file, valid-example-pattern-file

#1071 New serverless pattern - DynamoDB Stream to Lambda function Pattern
  dynamodb-stream-lambda-cdk-dotnet/.gitignore
  dynamodb-stream-lambda-cdk-dotnet/README.md
  dynamodb-stream-lambda-cdk-dotnet/cdk/README.md
  dynamodb-stream-lambda-cdk-dotnet/cdk/cdk.json
  dynamodb-stream-lambda-cdk-dotnet/cdk/src/Cdk.sln
  dynamodb-stream-lambda-cdk-dotnet/cdk/src/Cdk/Cdk.csproj
  dynamodb-stream-lambda-cdk-dotnet/cdk/src/Cdk/CdkStack.cs
  dynamodb-stream-lambda-cdk-dotnet/cdk/src/Cdk/GlobalSuppressions.cs
  dynamodb-stream-lambda-cdk-dotnet/cdk/src/Cdk/Program.cs
  dynamodb-stream-lambda-cdk-dotnet/example-pattern.json
  dynamodb-stream-lambda-cdk-dotnet/lambda/dynamodb-lambda/Function.cs
  dynamodb-stream-lambda-cdk-dotnet/lambda/dynamodb-lambda/Properties/launchSettings.json
  dynamodb-stream-lambda-cdk-dotnet/lambda/dynamodb-lambda/Readme.md
  dynamodb-stream-lambda-cdk-dotnet/lambda/dynamodb-lambda/aws-lambda-tools-defaults.json
  dynamodb-stream-lambda-cdk-dotnet/lambda/dynamodb-lambda/dynamodb-lambda.csproj
Labels: valid-example-pattern-file
