Repository aws-samples/serverless-patterns, pull requests merged in 2023-12, with the labels that each got.

#1916 New serverless pattern - Amazon EventBridge Scheduler to Amazon SNS (Terraform)
  eventbridge-schedule-to-sns-tf/README.md
  eventbridge-schedule-to-sns-tf/example-pattern.json
  eventbridge-schedule-to-sns-tf/main.tf
Labels: valid-example-pattern-file

#1943 New pattern submission - Dynamodb Streams to lambda with filters in Terraform
  .github/workflows/manual-validate-for-pattern.yml
  dynamodb-streams-lambda-filters-tf/README.md
  dynamodb-streams-lambda-filters-tf/example-pattern.json
  dynamodb-streams-lambda-filters-tf/src/handler.py
  dynamodb-streams-lambda-filters-tf/tf/ddb.tf
  dynamodb-streams-lambda-filters-tf/tf/lambda.tf
  dynamodb-streams-lambda-filters-tf/tf/provider.tf
  dynamodb-streams-lambda-filters-tf/tf/variable.tf
Labels: valid-example-pattern-file

#1825 New Pattern for EventBridge to Step Functions and failure events to SQS - CDK Java
  cdk-eventbridge-stepfunction-sqs-java/README.md
  cdk-eventbridge-stepfunction-sqs-java/docs/events/failureEvent.json
  cdk-eventbridge-stepfunction-sqs-java/docs/events/successEvent.json
  cdk-eventbridge-stepfunction-sqs-java/docs/images/Architecture.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/EventBus-Home.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/FailureEvent-Create.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/FailureEvent-Send.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/FailureSQS-Home.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/FailureSQS.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/SQS-Poll-Message-Home.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/SQS-Poll-Message.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/StateMachineFlow.svg
  cdk-eventbridge-stepfunction-sqs-java/docs/images/StepFunction-Home.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/Stepfunction-failure-detail.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/Stepfunction-failure-home.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/Stepfunction-success-details.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/Stepfunction-success-home.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/SuccessEvent-Create.png
  cdk-eventbridge-stepfunction-sqs-java/docs/images/SuccessEvent-Send.png
  cdk-eventbridge-stepfunction-sqs-java/example-pattern.json
  cdk-eventbridge-stepfunction-sqs-java/infrastructure/.gitignore
  cdk-eventbridge-stepfunction-sqs-java/infrastructure/README.md
  cdk-eventbridge-stepfunction-sqs-java/infrastructure/cdk.json
  cdk-eventbridge-stepfunction-sqs-java/infrastructure/pom.xml
  cdk-eventbridge-stepfunction-sqs-java/infrastructure/src/main/java/com/myorg/CdkInfraApp.java
  cdk-eventbridge-stepfunction-sqs-java/infrastructure/src/main/java/com/myorg/CdkInfraStack.java
  cdk-eventbridge-stepfunction-sqs-java/infrastructure/src/test/java/com/myorg/CdkTest.java
  cdk-eventbridge-stepfunction-sqs-java/package.json
  cdk-eventbridge-stepfunction-sqs-java/software/lambda-handler/.factorypath
  cdk-eventbridge-stepfunction-sqs-java/software/lambda-handler/.gitignore
  cdk-eventbridge-stepfunction-sqs-java/software/lambda-handler/pom.xml
  cdk-eventbridge-stepfunction-sqs-java/software/lambda-handler/src/main/java/com/myorg/App.java
  cdk-eventbridge-stepfunction-sqs-java/software/lambda-handler/src/test/java/com/myorg/CdkTest.java
Labels: valid-example-pattern-file

#1953 New serverless pattern: WebSocketApiGateway-Lambda-Bedrock with streaming response
  apigw-websocket-api-bedrock-streaming/README.md
  apigw-websocket-api-bedrock-streaming/example-pattern.json
  apigw-websocket-api-bedrock-streaming/src/cfnresponse.py
  apigw-websocket-api-bedrock-streaming/src/getBoto3.py
  apigw-websocket-api-bedrock-streaming/src/invoke.py
  apigw-websocket-api-bedrock-streaming/src/onConnect.py
  apigw-websocket-api-bedrock-streaming/src/onDisconnect.py
  apigw-websocket-api-bedrock-streaming/src/supported_model_list.py
  apigw-websocket-api-bedrock-streaming/template.yaml
  apigw-websocket-api-bedrock-streaming/websocket-client.py
Labels: valid-example-pattern-file

#1957 feat: Add API Destinations idempotency pattern
  eventbridge-api-destinations-idempotency-cdk/README.md
  eventbridge-api-destinations-idempotency-cdk/example-pattern.json
  eventbridge-api-destinations-idempotency-cdk/src/.gitignore
  eventbridge-api-destinations-idempotency-cdk/src/.npmignore
  eventbridge-api-destinations-idempotency-cdk/src/README.md
  eventbridge-api-destinations-idempotency-cdk/src/bin/eb-api-destination.ts
  eventbridge-api-destinations-idempotency-cdk/src/cdk.json
  eventbridge-api-destinations-idempotency-cdk/src/events.json
  eventbridge-api-destinations-idempotency-cdk/src/jest.config.js
  eventbridge-api-destinations-idempotency-cdk/src/lib/eb-api-destination-stack.ts
  eventbridge-api-destinations-idempotency-cdk/src/package.json
  eventbridge-api-destinations-idempotency-cdk/src/test/eb-api-destination.test.ts
  eventbridge-api-destinations-idempotency-cdk/src/tsconfig.json
Labels: valid-example-pattern-file

#1929 New serverless pattern: CloudWatch Dashboard with lambda-metrics in Python
  cw-dashboard-lambda-metrics/README.md
  cw-dashboard-lambda-metrics/app.py
  cw-dashboard-lambda-metrics/cdk.json
  cw-dashboard-lambda-metrics/example-pattern.json
  cw-dashboard-lambda-metrics/images/dashboard.png
  cw-dashboard-lambda-metrics/lambda_monitoring/__init__.py
  cw-dashboard-lambda-metrics/lambda_monitoring/lambda_monitoring_stack.py
  cw-dashboard-lambda-metrics/lambda_power_tools_cw.json
  cw-dashboard-lambda-metrics/requirements.txt
  cw-dashboard-lambda-metrics/source.bat
  cw-dashboard-lambda-metrics/src_lambda/handler.py
  cw-dashboard-lambda-metrics/src_lambda/requirements.txt
Labels: valid-example-pattern-file

#1954 [New pattern] Lambda-Kinesis-Lambda js pattern
  lambda-kinesis-lambda-js/README.md
  lambda-kinesis-lambda-js/consumer/consumer-function.js
  lambda-kinesis-lambda-js/example-pattern.json
  lambda-kinesis-lambda-js/lambda-kinesis-lambda-js.json
  lambda-kinesis-lambda-js/producer/package.json
  lambda-kinesis-lambda-js/producer/producer-function.js
  lambda-kinesis-lambda-js/template.yaml
Labels: valid-example-pattern-file

#1949 New serverless pattern - lambda-ecr
  terraform-lambda-ecr-integration/README.md
  terraform-lambda-ecr-integration/bin/build.sh
  terraform-lambda-ecr-integration/bin/dir_md5.sh
  terraform-lambda-ecr-integration/containercode/Dockerfile
  terraform-lambda-ecr-integration/containercode/app.py
  terraform-lambda-ecr-integration/containercode/sample-bash.sh
  terraform-lambda-ecr-integration/example-pattern.json
  terraform-lambda-ecr-integration/main.tf
  terraform-lambda-ecr-integration/outputs.tf
  terraform-lambda-ecr-integration/templates/ecr-lifecycle-policy.json
  terraform-lambda-ecr-integration/templates/kms-policy.json
  terraform-lambda-ecr-integration/templates/lambda-role.json
  terraform-lambda-ecr-integration/terraform-lambda-ecr-integration.json
  terraform-lambda-ecr-integration/variables.tf
  terraform-lambda-ecr-integration/versions.tf
Labels: valid-example-pattern-file

#1967 Fix: modify Serverlessland URL path and update diagram label to WebSocket API
  apigw-websocket-api-bedrock-streaming/apigw-websocket-api-bedrock-streaming.json
  apigw-websocket-api-bedrock-streaming/example-pattern.json
Labels: valid-example-pattern-file, missing-example-pattern-file

#1922 New serverless pattern - DynamoDB Streams to Step Functions using Event bridge pipes
  eventbridge-pipes-ddbstream-sfn/ArchDiagram.png
  eventbridge-pipes-ddbstream-sfn/README.md
  eventbridge-pipes-ddbstream-sfn/eventbridge-pipes-ddbstream-sfn.json
  eventbridge-pipes-ddbstream-sfn/example-pattern.json
  eventbridge-pipes-ddbstream-sfn/template.yaml
  eventbridge-pipes-ddbstream-sfn/workflow/ddb-pipes-sfn.asl.json
Labels: requested-changes, invalid-example-pattern-file

#1966 Serverless pattern for generating images using Amazon Bedrock and saving to Amazon S3
  apigw-lambda-bedrock-s3-cdk-python/.gitignore
  apigw-lambda-bedrock-s3-cdk-python/README.md
  apigw-lambda-bedrock-s3-cdk-python/apigw-lambda-bedrock-s3.json
  apigw-lambda-bedrock-s3-cdk-python/apigw_lambda_bedrock/__init__.py
  apigw-lambda-bedrock-s3-cdk-python/apigw_lambda_bedrock/apigw_lambda_bedrock_s3_stack.py
  apigw-lambda-bedrock-s3-cdk-python/app.py
  apigw-lambda-bedrock-s3-cdk-python/architecture/architecture.png
  apigw-lambda-bedrock-s3-cdk-python/bedrock_setup/bedrock-menu-expand.png
  apigw-lambda-bedrock-s3-cdk-python/bedrock_setup/bedrock-search.png
  apigw-lambda-bedrock-s3-cdk-python/bedrock_setup/model-access-link.png
  apigw-lambda-bedrock-s3-cdk-python/bedrock_setup/model-access-view.png
  apigw-lambda-bedrock-s3-cdk-python/bedrock_setup/region-selection.png
  apigw-lambda-bedrock-s3-cdk-python/cdk.json
  apigw-lambda-bedrock-s3-cdk-python/example-pattern.json
  apigw-lambda-bedrock-s3-cdk-python/example/image-212.png
  apigw-lambda-bedrock-s3-cdk-python/function_code/index.py
  apigw-lambda-bedrock-s3-cdk-python/requirements-dev.txt
  apigw-lambda-bedrock-s3-cdk-python/requirements.txt
Labels: valid-example-pattern-file
