Repository aws-samples/serverless-patterns, pull requests merged in 2023-09, with the labels that each got.

#1588 New Serverless Pattern: fargate-eventbridge-serverless
  fargate-eventbridge-serverless/Dockerfile
  fargate-eventbridge-serverless/README.md
  fargate-eventbridge-serverless/example-pattern.json
  fargate-eventbridge-serverless/handlers/handler.js
  fargate-eventbridge-serverless/package.json
  fargate-eventbridge-serverless/serverless.yml
Labels: valid-example-pattern-file

#1616 Kinesis-Lambda Integration with error handling
  cdk-kinesis-lambda-java/.gitignore
  cdk-kinesis-lambda-java/README.md
  cdk-kinesis-lambda-java/architecture.png
  cdk-kinesis-lambda-java/example-pattern.json
  cdk-kinesis-lambda-java/infrastructure/.gitignore
  cdk-kinesis-lambda-java/infrastructure/cdk.json
  cdk-kinesis-lambda-java/infrastructure/deploy.sh
  cdk-kinesis-lambda-java/infrastructure/pom.xml
  cdk-kinesis-lambda-java/infrastructure/src/main/java/com/myorg/InfrastructureApp.java
  cdk-kinesis-lambda-java/infrastructure/src/main/java/com/myorg/InfrastructureStack.java
  cdk-kinesis-lambda-java/infrastructure/src/test/java/com/myorg/InfrastructureStackTest.java
  cdk-kinesis-lambda-java/software/KinesisCliProducers/producers.sh
  cdk-kinesis-lambda-java/software/KinesisLambdaClient/pom.xml
  cdk-kinesis-lambda-java/software/KinesisLambdaClient/src/main/java/com/myorg/kinesis/client/App.java
Labels: valid-example-pattern-file

#1519 New Pattern: API Gateway Save to DynamoDB and Stream to Lambda with CDK which combine both TypeScript for CDK and Python Lambda Code
  apigw-rest-api-dynamodb-lambda-cdk/.gitignore
  apigw-rest-api-dynamodb-lambda-cdk/.npmignore
  apigw-rest-api-dynamodb-lambda-cdk/README.md
  apigw-rest-api-dynamodb-lambda-cdk/bin/ApiDynamoDB.ts
  apigw-rest-api-dynamodb-lambda-cdk/cdk.json
  apigw-rest-api-dynamodb-lambda-cdk/example-pattern.json
  apigw-rest-api-dynamodb-lambda-cdk/img/concept.png
  apigw-rest-api-dynamodb-lambda-cdk/lib/ApiDynamoDBStack.ts
  apigw-rest-api-dynamodb-lambda-cdk/package.json
  apigw-rest-api-dynamodb-lambda-cdk/src/messageHandler.py
  apigw-rest-api-dynamodb-lambda-cdk/src/requirements.txt
  apigw-rest-api-dynamodb-lambda-cdk/tsconfig.json
Labels: requested-changes

#1635 New serverless pattern - s3-eventbridge-sns-cdk
  s3-eventbridge-sns-cdk/README.md
  s3-eventbridge-sns-cdk/example-pattern.json
  s3-eventbridge-sns-cdk/src/.gitignore
  s3-eventbridge-sns-cdk/src/.npmignore
  s3-eventbridge-sns-cdk/src/README.md
  s3-eventbridge-sns-cdk/src/bin/s3-eventbridge-sns-cdk.ts
  s3-eventbridge-sns-cdk/src/cdk.json
  s3-eventbridge-sns-cdk/src/jest.config.js
  s3-eventbridge-sns-cdk/src/lib/s3-eventbridge-sns-stack.ts
  s3-eventbridge-sns-cdk/src/package.json
  s3-eventbridge-sns-cdk/src/test/src.test.ts
  s3-eventbridge-sns-cdk/src/tsconfig.json
Labels: requested-changes, invalid-example-pattern-file

#1623 New serverless pattern - apigw-websocket-api-sns-terraform
  apigw-websocket-api-sns-terraform/README.md
  apigw-websocket-api-sns-terraform/example-pattern.json
  apigw-websocket-api-sns-terraform/main.tf
Labels: requested-changes, invalid-example-pattern-file

#1621 New serverless pattern - rds-sns-event-notification-cdk-ts
  rds-sns-event-notification-cdk-ts/README.md
  rds-sns-event-notification-cdk-ts/bin/rds-sns-event-notification-cdk-ts.ts
  rds-sns-event-notification-cdk-ts/cdk.json
  rds-sns-event-notification-cdk-ts/example-pattern.json
  rds-sns-event-notification-cdk-ts/jest.config.js
  rds-sns-event-notification-cdk-ts/lib/rds-sns-event-notification-cdk-ts-stack.ts
  rds-sns-event-notification-cdk-ts/package.json
  rds-sns-event-notification-cdk-ts/test/rds-sns-event-notification-cdk-ts.test.ts
  rds-sns-event-notification-cdk-ts/tsconfig.json
Labels: requested-changes, invalid-example-pattern-file

#1620 New serverless pattern - rds-sns-event-notification-cdk-python
  rds-sns-event-notification-cdk-python/README.md
  rds-sns-event-notification-cdk-python/app.py
  rds-sns-event-notification-cdk-python/cdk.json
  rds-sns-event-notification-cdk-python/example-pattern.json
  rds-sns-event-notification-cdk-python/rds_sns_event_notification_cdk_python/__init__.py
  rds-sns-event-notification-cdk-python/rds_sns_event_notification_cdk_python/__pycache__/__init__.cpython-39.pyc
  rds-sns-event-notification-cdk-python/rds_sns_event_notification_cdk_python/__pycache__/rds_sns_event_notification_cdk_python_stack.cpython-39.pyc
  rds-sns-event-notification-cdk-python/rds_sns_event_notification_cdk_python/rds_sns_event_notification_cdk_python_stack.py
  rds-sns-event-notification-cdk-python/requirements.txt
  rds-sns-event-notification-cdk-python/source.bat
  rds-sns-event-notification-cdk-python/tests/__init__.py
  rds-sns-event-notification-cdk-python/tests/unit/__init__.py
  rds-sns-event-notification-cdk-python/tests/unit/test_rds_sns_event_notification_cdk_python_stack.py
Labels: valid-example-pattern-file

#1649 New serverless pattern: SQS - Lambda - DDB (SAM with Typescript, esbuild, and partial batch response)
  sqs-lambda-ddb-sam-ts/.gitignore
  sqs-lambda-ddb-sam-ts/README.md
  sqs-lambda-ddb-sam-ts/deploy.sh
  sqs-lambda-ddb-sam-ts/example-pattern.json
  sqs-lambda-ddb-sam-ts/messages.json
  sqs-lambda-ddb-sam-ts/src/app.ts
  sqs-lambda-ddb-sam-ts/src/package.json
  sqs-lambda-ddb-sam-ts/template.yaml
  sqs-lambda-ddb-sam-ts/test.sh
Labels: valid-example-pattern-file

#1637 Updated to SnapStart pattern
  apigw-lambda-snapstart/README.md
  apigw-lambda-snapstart/UnicornFunction/pom.xml
  apigw-lambda-snapstart/example-pattern.json
  apigw-lambda-snapstart/template.yaml
Labels: missing-example-pattern-file

#1655 New serverless pattern - DynamoDB Streams to SQS using EventBridge Pipes
  eventbridge-pipes-dynamodbstream-to-sqs-serverless/README.md
  eventbridge-pipes-dynamodbstream-to-sqs-serverless/example-pattern.json
  eventbridge-pipes-dynamodbstream-to-sqs-serverless/index.js
  eventbridge-pipes-dynamodbstream-to-sqs-serverless/package.json
  eventbridge-pipes-dynamodbstream-to-sqs-serverless/serverless.yml
Labels: valid-example-pattern-file

#1602 New serverless pattern - SNS to Firehose to OpenSearch (CDK/typescript)
  sns-firehose-opensearch-cdk-typescript/.gitignore
  sns-firehose-opensearch-cdk-typescript/.npmignore
  sns-firehose-opensearch-cdk-typescript/README.md
  sns-firehose-opensearch-cdk-typescript/bin/sns-firehose-opensearch-cdk-typescript.ts
  sns-firehose-opensearch-cdk-typescript/cdk.json
  sns-firehose-opensearch-cdk-typescript/example-pattern.json
  sns-firehose-opensearch-cdk-typescript/jest.config.js
  sns-firehose-opensearch-cdk-typescript/lib/sns-firehose-opensearch-cdk-typescript-stack.ts
  sns-firehose-opensearch-cdk-typescript/package.json
  sns-firehose-opensearch-cdk-typescript/sns-firehose-opensearch.png
  sns-firehose-opensearch-cdk-typescript/tsconfig.json
Labels: requested-changes, invalid-example-pattern-file

#1660 New serverless pattern - sfn-sns-cdk
  sfn-sns-cdk/.gitignore
  sfn-sns-cdk/README.md
  sfn-sns-cdk/example-pattern.json
  sfn-sns-cdk/src/.npmignore
  sfn-sns-cdk/src/bin/sfn-sns-cdk.ts
  sfn-sns-cdk/src/cdk.json
  sfn-sns-cdk/src/jest.config.js
  sfn-sns-cdk/src/lib/sfn-sns-cdk-stack.ts
  sfn-sns-cdk/src/package.json
  sfn-sns-cdk/src/test/sfn-sns-cdk.test.ts
  sfn-sns-cdk/src/tsconfig.json
Labels: valid-example-pattern-file

#1609 New pattern-kinesis data stream & lambda consumer
  kinesis-lambda-terraform/README.md
  kinesis-lambda-terraform/example-pattern.json
  kinesis-lambda-terraform/main.tf
  kinesis-lambda-terraform/src/app.js
Labels: valid-example-pattern-file

#1667 #1648: code clean-up in shell scripts (pattern has been merged into main already)
  sqs-lambda-ddb-sam-ts/deploy.sh
  sqs-lambda-ddb-sam-ts/test.sh
Labels: missing-example-pattern-file

#1645 [Follow up PR] New pattern submission: Lambda Elastic IP without NAT Gateway
  lambda-elastic-ip-no-nat-gateway-cdk/README.md
  lambda-elastic-ip-no-nat-gateway-cdk/cdk/lib/cdk-stack.ts
  lambda-elastic-ip-no-nat-gateway-cdk/cdk/src/lambdas/associate-lambda-elastic-ip-cr.ts
  lambda-elastic-ip-no-nat-gateway-cdk/cdk/src/types/associate-lambda-elastic-ip-event.ts
  lambda-elastic-ip-no-nat-gateway-cdk/example-pattern.json
Labels: missing-example-pattern-file

#1666 New serverless pattern - apigw-lambda-pinpoint
  apigw-lambda-pinpoint/README.md
  apigw-lambda-pinpoint/example-pattern.json
  apigw-lambda-pinpoint/src/lambda_function.py
  apigw-lambda-pinpoint/template.yaml
Labels: valid-example-pattern-file

#1670 New serverless pattern - SNS SQS Fanout using SAM
  sns-sqs-fanout/README.md
  sns-sqs-fanout/example-pattern.json
  sns-sqs-fanout/images/architecture.png
  sns-sqs-fanout/images/sns-publish-msg-1.png
  sns-sqs-fanout/images/sns-publish-msg-2.png
  sns-sqs-fanout/images/sqs-queue-messages.png
  sns-sqs-fanout/template.yaml
Labels: valid-example-pattern-file
