Repository aws-samples/serverless-patterns, pull requests merged in 2023-10, with the labels that each got.

#1617 Add eventbridge-sns-lambda terraform pattern
  eventbridge-sns-lambda-terraform/README.md
  eventbridge-sns-lambda-terraform/event.json
  eventbridge-sns-lambda-terraform/example-pattern.json
  eventbridge-sns-lambda-terraform/main.tf
  eventbridge-sns-lambda-terraform/src/app.js
Labels: requested-changes, missing-example-pattern-file

#1631 Kinesis Firehose data transformation with Lambda using Java runtime
  firehose-transformation-sam-java/README.md
  firehose-transformation-sam-java/example-pattern.json
  firehose-transformation-sam-java/lambda-zip.xml
  firehose-transformation-sam-java/pom.xml
  firehose-transformation-sam-java/src/main/java/com/example/DataTransformer.java
  firehose-transformation-sam-java/src/main/java/com/example/TransformedRecord.java
  firehose-transformation-sam-java/src/main/java/com/example/TransformedRecords.java
  firehose-transformation-sam-java/template.yaml
Labels: missing-example-pattern-file

#1652 Updated the pattern to use Java 17.
  apigw-lambda-rds-snapstart/example-pattern.json
  apigw-lambda-rds-snapstart/infrastructure/cdk/pom.xml
  apigw-lambda-rds-snapstart/infrastructure/cdk/src/main/java/com/unicorn/DatabaseSetupConstruct.java
  apigw-lambda-rds-snapstart/infrastructure/cdk/src/main/java/com/unicorn/InfrastructureStack.java
  apigw-lambda-rds-snapstart/infrastructure/cdk/src/main/java/com/unicorn/UnicornStoreStack.java
  apigw-lambda-rds-snapstart/software/unicorn-store/pom.xml
Labels: missing-example-pattern-file

#1664 New serverless pattern - Cloudfront to Lambda URL using CDK in TS
  cloudfront-lambda-url-cdk-ts/README.md
  cloudfront-lambda-url-cdk-ts/cdk/.gitignore
  cloudfront-lambda-url-cdk-ts/cdk/.npmignore
  cloudfront-lambda-url-cdk-ts/cdk/bin/cdk.ts
  cloudfront-lambda-url-cdk-ts/cdk/cdk.json
  cloudfront-lambda-url-cdk-ts/cdk/jest.config.js
  cloudfront-lambda-url-cdk-ts/cdk/lambda/handler.ts
  cloudfront-lambda-url-cdk-ts/cdk/lib/cdk-stack.ts
  cloudfront-lambda-url-cdk-ts/cdk/package.json
  cloudfront-lambda-url-cdk-ts/cdk/test/cdk.test.ts
  cloudfront-lambda-url-cdk-ts/cdk/tsconfig.json
  cloudfront-lambda-url-cdk-ts/example-pattern.json
Labels: requested-changes, invalid-example-pattern-file

#1679 New Serverless Pattern - Firehose Transformation Sam Go
  firehose-transformation-sam-go/Makefile
  firehose-transformation-sam-go/README.md
  firehose-transformation-sam-go/cmd/functions/data-transformation/main.go
  firehose-transformation-sam-go/example-pattern.json
  firehose-transformation-sam-go/go.mod
  firehose-transformation-sam-go/go.sum
  firehose-transformation-sam-go/images/data-transformation.jpg
  firehose-transformation-sam-go/template.yml
Labels: valid-example-pattern-file

#1638 New serverless pattern - kinesis-lambda-error-handling
  kinesis-lambda-error-handling/README.md
  kinesis-lambda-error-handling/example-pattern.json
  kinesis-lambda-error-handling/images/kinesis-lambda-error-handling.jpg
  kinesis-lambda-error-handling/kinesis-consumer/kinesis-consumer-fn.py
  kinesis-lambda-error-handling/kinesis-producer/test-records-with-poison-pill.json
  kinesis-lambda-error-handling/kinesis-producer/test-records-without-poison-pill.json
  kinesis-lambda-error-handling/kinesis-producer/with-poison-pill-put-records.sh
  kinesis-lambda-error-handling/kinesis-producer/without-poison-pill-put-records.sh
  kinesis-lambda-error-handling/template.yaml
  kinesis-lambda-error-handling/validation-scripts/read-sqs-queue.sh
Labels: requested-changes, invalid-example-pattern-file

#1716 New serverless pattern - Amazon Aurora Serverless V2 Primary to Secondary Global Database
  aurora-serverless-global-db-cdk/.gitignore
  aurora-serverless-global-db-cdk/.npmignore
  aurora-serverless-global-db-cdk/README.md
  aurora-serverless-global-db-cdk/bin/aurora-global-db-multistack.ts
  aurora-serverless-global-db-cdk/cdk.json
  aurora-serverless-global-db-cdk/example-pattern.json
  aurora-serverless-global-db-cdk/fargate/Dockerfile
  aurora-serverless-global-db-cdk/fargate/package.json
  aurora-serverless-global-db-cdk/fargate/src/index.js
  aurora-serverless-global-db-cdk/jest.config.js
  aurora-serverless-global-db-cdk/lib/aurora-global-cluster-stack.ts
  aurora-serverless-global-db-cdk/lib/aurora-regional-cluster-stack.ts
  aurora-serverless-global-db-cdk/lib/fargate-test-app-stack.ts
  aurora-serverless-global-db-cdk/package.json
  aurora-serverless-global-db-cdk/test/global-aurora-serverless-cdk.test.ts
  aurora-serverless-global-db-cdk/tsconfig.json
Labels: requested-changes, invalid-example-pattern-file

#1571 CDK Project to create APIGW integration with Amazon Connect Task
  cdk-apigw-connect-start-task/.gitignore
  cdk-apigw-connect-start-task/README.md
  cdk-apigw-connect-start-task/app.py
  cdk-apigw-connect-start-task/cdk.json
  cdk-apigw-connect-start-task/cdk_apigw_connect_start_task/__init__.py
  cdk-apigw-connect-start-task/cdk_apigw_connect_start_task/cdk_apigw_connect_start_task_stack.py
  cdk-apigw-connect-start-task/example-pattern.json
  cdk-apigw-connect-start-task/requirements-dev.txt
  cdk-apigw-connect-start-task/requirements.txt
Labels: valid-example-pattern-file

#1750 New serverless pattern - Dynamic Bedrock model selection with API Gateway and Lambda
  dynamic-bedrock-svls-sam/README.md
  dynamic-bedrock-svls-sam/arch.png
  dynamic-bedrock-svls-sam/example-pattern.json
  dynamic-bedrock-svls-sam/lambda_function.py
  dynamic-bedrock-svls-sam/src/lambda_function.py
  dynamic-bedrock-svls-sam/template.yaml
Labels: valid-example-pattern-file

#1756 New serverless pattern - Optimized vulnerability management using Amazon EventBridge
  inspector-eventbridge-multi-destinations/README.md
  inspector-eventbridge-multi-destinations/example-pattern.json
  inspector-eventbridge-multi-destinations/images/lambda-inspector-eventbridge-multi-destinations.png
  inspector-eventbridge-multi-destinations/template.yaml
  inspector-eventbridge-multi-destinations/test-package-vulnerability/requirements.txt
  inspector-eventbridge-multi-destinations/test-package-vulnerability/vulnerable-lambda-fn.py
  inspector-eventbridge-multi-destinations/write_to_dynamodb/app.py
Labels: valid-example-pattern-file

#1746 New serverless pattern - appsync-bedrock
  appsync-bedrock/README.md
  appsync-bedrock/example-pattern.json
  appsync-bedrock/images/1.png
  appsync-bedrock/images/2.png
  appsync-bedrock/images/3.png
  appsync-bedrock/schema.graphql
  appsync-bedrock/template.yaml
Labels: valid-example-pattern-file

#1725 New serverless pattern - s3-event-sfn-lambda-ddb-sns
  s3-event-sfn-lambda-ddb-sns/README.md
  s3-event-sfn-lambda-ddb-sns/example-pattern.json
  s3-event-sfn-lambda-ddb-sns/friends.csv
  s3-event-sfn-lambda-ddb-sns/src/lambda-dynamoDb.py
  s3-event-sfn-lambda-ddb-sns/template.yaml
Labels: valid-example-pattern-file

#1757 Add new pattern Lambda-extension-telemetryapi-s3
  lambda-extension-telemetryapi-s3/.gitignore
  lambda-extension-telemetryapi-s3/README.md
  lambda-extension-telemetryapi-s3/example-pattern.json
  lambda-extension-telemetryapi-s3/extensionsrc/extensions/telemetryapi-s3-extension.py
  lambda-extension-telemetryapi-s3/extensionsrc/makefile
  lambda-extension-telemetryapi-s3/extensionsrc/requirements.txt
  lambda-extension-telemetryapi-s3/sampleappsrc/__init__.py
  lambda-extension-telemetryapi-s3/sampleappsrc/app.py
  lambda-extension-telemetryapi-s3/sampleappsrc/requirements.txt
  lambda-extension-telemetryapi-s3/template.yaml
Labels: valid-example-pattern-file

#1782 adding bedrock-lambda-nodejs
  bedrock-lambda-nodejs/.gitignore
  bedrock-lambda-nodejs/.nvmrc
  bedrock-lambda-nodejs/README.md
  bedrock-lambda-nodejs/events/event-1.json
  bedrock-lambda-nodejs/events/event-2.json
  bedrock-lambda-nodejs/events/event-3.json
  bedrock-lambda-nodejs/events/event-4.json
  bedrock-lambda-nodejs/events/event-5.json
  bedrock-lambda-nodejs/events/event-6.json
  bedrock-lambda-nodejs/example-pattern.json
  bedrock-lambda-nodejs/src/.nvmrc
  bedrock-lambda-nodejs/src/index.js
  bedrock-lambda-nodejs/src/package.json
  bedrock-lambda-nodejs/template.yml
Labels: valid-example-pattern-file

#1772 Add new pattern xray trace for sns to sqs to lambda with Powertool
  sns-sqs-lambda-xray/README.md
  sns-sqs-lambda-xray/consumer_app/app.py
  sns-sqs-lambda-xray/example-pattern.json
  sns-sqs-lambda-xray/producer_app/app.py
  sns-sqs-lambda-xray/share_layer/requirements.txt
  sns-sqs-lambda-xray/template.yaml
Labels: valid-example-pattern-file

#1650 New Serverless pattern - API Gateway REST API to SageMaker
  apigw-rest-sagemaker/README.md
  apigw-rest-sagemaker/example-pattern.json
  apigw-rest-sagemaker/template.yaml
Labels: requested-changes, invalid-example-pattern-file

#1774 New serverless pattern - appsync-apigateway-dynamodb-sam
  appsync-apigateway-dynamodb-sam/README.md
  appsync-apigateway-dynamodb-sam/example-pattern.json
  appsync-apigateway-dynamodb-sam/graphql/mapping_templates/add_restaurant_request.vtl
  appsync-apigateway-dynamodb-sam/graphql/mapping_templates/delete_restaurant_request.vtl
  appsync-apigateway-dynamodb-sam/graphql/mapping_templates/get_restaurant_request.vtl
  appsync-apigateway-dynamodb-sam/graphql/mapping_templates/list_restaurants_request.vtl
  appsync-apigateway-dynamodb-sam/graphql/mapping_templates/response.vtl
  appsync-apigateway-dynamodb-sam/graphql/mapping_templates/update_restaurant_request.vtl
  appsync-apigateway-dynamodb-sam/graphql/schema.graphql
  appsync-apigateway-dynamodb-sam/images/Mutation.png
  appsync-apigateway-dynamodb-sam/images/Query-getRestaurant.png
  appsync-apigateway-dynamodb-sam/images/Query-listRestaurants.png
  appsync-apigateway-dynamodb-sam/restapi/api.yaml
  appsync-apigateway-dynamodb-sam/template.yaml
Labels: valid-example-pattern-file

#1768 Add new pattern Activemq-Lambda
  activemq-lambda/.gitignore
  activemq-lambda/README.md
  activemq-lambda/example-pattern.json
  activemq-lambda/mq_listener/__init__.py
  activemq-lambda/mq_listener/app.py
  activemq-lambda/mq_listener/requirements.txt
  activemq-lambda/template.yaml
Labels: valid-example-pattern-file

#1744 New serverless pattern - apigw-lambda-authorizer-basic-cdk
  apigw-lambda-authorizer-basic-cdk/.gitignore
  apigw-lambda-authorizer-basic-cdk/.npmignore
  apigw-lambda-authorizer-basic-cdk/README.md
  apigw-lambda-authorizer-basic-cdk/bin/apigw-lambda-authorizer-basic-cdk.js
  apigw-lambda-authorizer-basic-cdk/cdk.json
  apigw-lambda-authorizer-basic-cdk/example-pattern.json
  apigw-lambda-authorizer-basic-cdk/jest.config.js
  apigw-lambda-authorizer-basic-cdk/lambda/authorizer/index.js
  apigw-lambda-authorizer-basic-cdk/lambda/protected/index.js
  apigw-lambda-authorizer-basic-cdk/lib/basic-authorizer-construct.js
  apigw-lambda-authorizer-basic-cdk/lib/basic-authorizer-stack.js
  apigw-lambda-authorizer-basic-cdk/package.json
  apigw-lambda-authorizer-basic-cdk/test/apigw-lambda-authorizer-basic-cdk.test.js
Labels: valid-example-pattern-file

#1780 New serverless pattern - cdn-dash-sam
  cdn-dash-sam/README.md
  cdn-dash-sam/example-pattern.json
  cdn-dash-sam/src/lambda_function.py
  cdn-dash-sam/template.yaml
Labels: valid-example-pattern-file

#1810 New serverless pattern - alb-path-based-route-lambda-terraform
  alb-path-based-route-lambda-tf/.gitignore
  alb-path-based-route-lambda-tf/.npmignore
  alb-path-based-route-lambda-tf/Lambda1.zip
  alb-path-based-route-lambda-tf/Lambda2.zip
  alb-path-based-route-lambda-tf/Pushparaju.jpeg
  alb-path-based-route-lambda-tf/README.md
  alb-path-based-route-lambda-tf/alb-lambda.jpg
  alb-path-based-route-lambda-tf/example-pattern.json
  alb-path-based-route-lambda-tf/main.tf
  alb-path-based-route-lambda-tf/outputs.tf
  alb-path-based-route-lambda-tf/variables.tf
Labels: requested-changes, invalid-example-pattern-file

#1728 New serverless pattern - s3-object-lambda-textract
  s3-object-lambda-textract/.gitignore
  s3-object-lambda-textract/README.md
  s3-object-lambda-textract/app/__init__.py
  s3-object-lambda-textract/app/app.py
  s3-object-lambda-textract/example-pattern.json
  s3-object-lambda-textract/images/pattern.jpg
  s3-object-lambda-textract/template.yaml
  s3-object-lambda-textract/tests/app_test.py
  s3-object-lambda-textract/tests/docs/Drivers_License.pdf
Labels: valid-example-pattern-file

#1741 initial commit for pattern
  eventbridge-pipes-unwrap-payload/README.md
  eventbridge-pipes-unwrap-payload/example-pattern.json
  eventbridge-pipes-unwrap-payload/src/.gitignore
  eventbridge-pipes-unwrap-payload/src/.npmignore
  eventbridge-pipes-unwrap-payload/src/README.md
  eventbridge-pipes-unwrap-payload/src/bin/src.ts
  eventbridge-pipes-unwrap-payload/src/cdk.json
  eventbridge-pipes-unwrap-payload/src/lib/lambda/unwrapEnricher.js
  eventbridge-pipes-unwrap-payload/src/lib/lambda/unwrapSampleDataCreator.js
  eventbridge-pipes-unwrap-payload/src/lib/unwrap-payload-with-pipes.ts
  eventbridge-pipes-unwrap-payload/src/package.json
  eventbridge-pipes-unwrap-payload/src/tsconfig.json
Labels: valid-example-pattern-file
