Repository aws-samples/serverless-patterns, pull requests merged in 2023-05, with the labels that each got.

#1269 Removed hard coded configuration for build EventBridgeClient
  apigw-lambda-eventbridge-lambda-sam-java/src/main/java/com/example/publisher/TicketPublisher.java
Labels: missing-example-pattern-file

#1318 New serverless pattern - lambda with alias and version
  apigw-domain-edge-lambda/README.md
  apigw-domain-edge-lambda/example-pattern.json
  apigw-domain-edge-lambda/template.yaml
  apigw-mappingtemplate-lambda-nodejs/README.md
  apigw-mappingtemplate-lambda-nodejs/example-pattern.json
  apigw-mappingtemplate-lambda-nodejs/template.yaml
  apigw-private-lambda/README.md
  apigw-private-lambda/example-pattern.json
  apigw-private-lambda/template.yaml
  lambda-version-alias/README.md
  lambda-version-alias/example-pattern.json
  lambda-version-alias/template.yaml
Labels: valid-example-pattern-file

#1207 New serverless pattern - dynamodb-streams-lambda-dynamodb
  dynamodb-streams-lambda-dynamodb/README.md
  dynamodb-streams-lambda-dynamodb/cdk/.gitignore
  dynamodb-streams-lambda-dynamodb/cdk/cdk.json
  dynamodb-streams-lambda-dynamodb/cdk/code/src/AddItemsDynamoDB/AddItemsDynamoDB.csproj
  dynamodb-streams-lambda-dynamodb/cdk/code/src/AddItemsDynamoDB/Function.cs
  dynamodb-streams-lambda-dynamodb/cdk/code/src/AddItemsDynamoDB/Item.cs
  dynamodb-streams-lambda-dynamodb/cdk/code/src/AddItemsDynamoDB/aws-lambda-tools-defaults.json
  dynamodb-streams-lambda-dynamodb/cdk/src/Cdk.sln
  dynamodb-streams-lambda-dynamodb/cdk/src/Cdk/Cdk.csproj
  dynamodb-streams-lambda-dynamodb/cdk/src/Cdk/CdkStack.cs
  dynamodb-streams-lambda-dynamodb/cdk/src/Cdk/GlobalSuppressions.cs
  dynamodb-streams-lambda-dynamodb/cdk/src/Cdk/Program.cs
  dynamodb-streams-lambda-dynamodb/example-pattern.json
  dynamodb-streams-lambda-dynamodb/images/architecture.png
Labels: valid-example-pattern-file

#1305 New Pattern: EventBridge Schedule to invoke Go based Lambda (AWS CDK Go)
  eventbridge-schedule-to-lambda-cdk-go/.gitignore
  eventbridge-schedule-to-lambda-cdk-go/README.md
  eventbridge-schedule-to-lambda-cdk-go/cdk.json
  eventbridge-schedule-to-lambda-cdk-go/eventbridge-schedule-to-lambda-cdk-go.go
  eventbridge-schedule-to-lambda-cdk-go/example-pattern.json
  eventbridge-schedule-to-lambda-cdk-go/go.mod
  eventbridge-schedule-to-lambda-cdk-go/go.sum
  eventbridge-schedule-to-lambda-cdk-go/src/go.mod
  eventbridge-schedule-to-lambda-cdk-go/src/go.sum
  eventbridge-schedule-to-lambda-cdk-go/src/main.go
Labels: valid-example-pattern-file

#1258 MSK event source mapping examples
  lambda-esm-msk-filters-sam/README.md
  lambda-esm-msk-filters-sam/events/base-json.json
  lambda-esm-msk-filters-sam/events/code-is-300.json
  lambda-esm-msk-filters-sam/events/custom-with-region.json
  lambda-esm-msk-filters-sam/events/plain-string.txt
  lambda-esm-msk-filters-sam/events/rbac-is-set.json
  lambda-esm-msk-filters-sam/example-pattern.json
  lambda-esm-msk-filters-sam/src/app.py
  lambda-esm-msk-filters-sam/template.yaml
Labels: valid-example-pattern-file

#1303 New Pattern: EventBridge Scheduler to Invoke Python based Lambda (Terraform)
  eventbridge-schedule-to-lambda-terraform-python/.gitignore
  eventbridge-schedule-to-lambda-terraform-python/README.md
  eventbridge-schedule-to-lambda-terraform-python/example-pattern.json
  eventbridge-schedule-to-lambda-terraform-python/main.tf
  eventbridge-schedule-to-lambda-terraform-python/src/eventbridge_function.py
Labels: valid-example-pattern-file

#1320 New Pattern: EventBridge Scheduler to TypeScript based Lambda function (Terraform)
  eventbridge-schedule-to-lambda-terraform-typescript/.gitignore
  eventbridge-schedule-to-lambda-terraform-typescript/README.md
  eventbridge-schedule-to-lambda-terraform-typescript/example-pattern.json
  eventbridge-schedule-to-lambda-terraform-typescript/main.tf
  eventbridge-schedule-to-lambda-terraform-typescript/package.json
  eventbridge-schedule-to-lambda-terraform-typescript/src/index.ts
  eventbridge-schedule-to-lambda-terraform-typescript/tsconfig.json
Labels: valid-example-pattern-file

#1181 New serverless pattern - eventbridge-schedule-to-sqs-terraform
  eventbridge-schedule-to-sqs-terraform/README.md
  eventbridge-schedule-to-sqs-terraform/example-pattern.json
  eventbridge-schedule-to-sqs-terraform/main.tf
Labels: requested-changes, invalid-example-pattern-file

#1240 New pattern: EventBridge Scheduler to run task in ECS cluster with CDK Java
  eventbridge-schedule-ecs-cdk-java/README.md
  eventbridge-schedule-ecs-cdk-java/cdk.json
  eventbridge-schedule-ecs-cdk-java/example-pattern.json
  eventbridge-schedule-ecs-cdk-java/pom.xml
  eventbridge-schedule-ecs-cdk-java/src/main/java/com/myorg/EventbridgeScheduleEcsCdkJavaApp.java
  eventbridge-schedule-ecs-cdk-java/src/main/java/com/myorg/EventbridgeScheduleEcsCdkJavaStack.java
Labels: valid-example-pattern-file

#1247 New serverless pattern - apigw-rest-api-lambda-efs-dotnet
  apigw-rest-api-lambda-efs-dotnet/README.md
  apigw-rest-api-lambda-efs-dotnet/cdk/.gitignore
  apigw-rest-api-lambda-efs-dotnet/cdk/cdk.json
  apigw-rest-api-lambda-efs-dotnet/cdk/code/src/dotnet.webapi/Controllers/EfsDemoController.cs
  apigw-rest-api-lambda-efs-dotnet/cdk/code/src/dotnet.webapi/LambdaEntryPoint.cs
  apigw-rest-api-lambda-efs-dotnet/cdk/code/src/dotnet.webapi/LocalEntryPoint.cs
  apigw-rest-api-lambda-efs-dotnet/cdk/code/src/dotnet.webapi/Properties/launchSettings.json
  apigw-rest-api-lambda-efs-dotnet/cdk/code/src/dotnet.webapi/Startup.cs
  apigw-rest-api-lambda-efs-dotnet/cdk/code/src/dotnet.webapi/appsettings.Development.json
  apigw-rest-api-lambda-efs-dotnet/cdk/code/src/dotnet.webapi/appsettings.json
  apigw-rest-api-lambda-efs-dotnet/cdk/code/src/dotnet.webapi/aws-lambda-tools-defaults.json
  apigw-rest-api-lambda-efs-dotnet/cdk/code/src/dotnet.webapi/dotnet.webapi.csproj
  apigw-rest-api-lambda-efs-dotnet/cdk/src/Cdk.sln
  apigw-rest-api-lambda-efs-dotnet/cdk/src/Cdk/Cdk.csproj
  apigw-rest-api-lambda-efs-dotnet/cdk/src/Cdk/CdkStack.cs
  apigw-rest-api-lambda-efs-dotnet/cdk/src/Cdk/GlobalSuppressions.cs
  apigw-rest-api-lambda-efs-dotnet/cdk/src/Cdk/Program.cs
  apigw-rest-api-lambda-efs-dotnet/example-pattern.json
  apigw-rest-api-lambda-efs-dotnet/images/architecture.png
Labels: valid-example-pattern-file

#1255 Kimevgaws feature eventbridge scheduler ssm cdk python
  eventbridge-scheduler-ssm-cdk-python/.gitignore
  eventbridge-scheduler-ssm-cdk-python/README.md
  eventbridge-scheduler-ssm-cdk-python/app.py
  eventbridge-scheduler-ssm-cdk-python/cdk.json
  eventbridge-scheduler-ssm-cdk-python/eventbridge_scheduler_ssm_cdk_python/__init__.py
  eventbridge-scheduler-ssm-cdk-python/eventbridge_scheduler_ssm_cdk_python/eventbridge_scheduler_ssm_cdk_python_stack.py
  eventbridge-scheduler-ssm-cdk-python/example-pattern.json
  eventbridge-scheduler-ssm-cdk-python/requirements-dev.txt
  eventbridge-scheduler-ssm-cdk-python/requirements.txt
  eventbridge-scheduler-ssm-cdk-python/source.bat
  eventbridge-scheduler-ssm-cdk-python/tests/__init__.py
  eventbridge-scheduler-ssm-cdk-python/tests/unit/__init__.py
  eventbridge-scheduler-ssm-cdk-python/tests/unit/test_eventbridge_scheduler_ssm_cdk_python_stack.py
Labels: valid-example-pattern-file

#1262 New servereless pattern EventBridge pipe sqs-lambda-API Destination to DynamoDB via lambda proxy
  eventbridge-pipes-sqs-lambda-api-destination/README.md
  eventbridge-pipes-sqs-lambda-api-destination/example-pattern.json
  eventbridge-pipes-sqs-lambda-api-destination/profile-pic.jpg
  eventbridge-pipes-sqs-lambda-api-destination/src/enrichment.py
  eventbridge-pipes-sqs-lambda-api-destination/src/lambdaToDynamoDB.py
  eventbridge-pipes-sqs-lambda-api-destination/template.yaml
  eventbridge-pipes-sqs-lambda-api-destination/testing/testing.py
Labels: valid-example-pattern-file

#1301 New Pattern: EventBridge Schedule to Go based Lambda (Terraform)
  eventbridge-schedule-to-lambda-terraform-go/.gitignore
  eventbridge-schedule-to-lambda-terraform-go/README.md
  eventbridge-schedule-to-lambda-terraform-go/example-pattern.json
  eventbridge-schedule-to-lambda-terraform-go/main.tf
  eventbridge-schedule-to-lambda-terraform-go/src/go.mod
  eventbridge-schedule-to-lambda-terraform-go/src/go.sum
  eventbridge-schedule-to-lambda-terraform-go/src/main.go
Labels: valid-example-pattern-file

#1311 New Pattern: EventBridge Scheduler to invoke Java based Lambda function (Terraform)
  eventbridge-schedule-to-lambda-terraform-java/.gitignore
  eventbridge-schedule-to-lambda-terraform-java/README.md
  eventbridge-schedule-to-lambda-terraform-java/example-pattern.json
  eventbridge-schedule-to-lambda-terraform-java/main.tf
  eventbridge-schedule-to-lambda-terraform-java/pom.xml
  eventbridge-schedule-to-lambda-terraform-java/src/main/java/com/example/EventBridgeFunction.java
Labels: valid-example-pattern-file

#1275 New serverless pattern cloudmap-fargate-serverless
  cloudmap-fargate-terraform/README.md
  cloudmap-fargate-terraform/example-pattern.json
  cloudmap-fargate-terraform/main.tf
  cloudmap-fargate-terraform/providers.tf
Labels: requested-changes, invalid-example-pattern-file

#1273 New serverless pattern - eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/README.md
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/assets/DDB -_ EB Pipe -_ API Gateway -_ IoT Core Topic Pattern.svg
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/.gitignore
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/.npmignore
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/README.md
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/bin/cdk.ts
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/cdk.json
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/jest.config.js
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/lib/cdk-stack.ts
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/package.json
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/test/cdk.test.ts
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/cdk/tsconfig.json
  eventbridge-pipes-ddb-stream-apigateway-iot-core-cdk/example-pattern.json
Labels: valid-example-pattern-file
