Repository aws-samples/serverless-patterns, pull requests merged in 2023-03, with the labels that each got.

#1003 appsync-mongodb
  appsync-mongodb/README.md
  appsync-mongodb/cdk/.gitignore
  appsync-mongodb/cdk/.npmignore
  appsync-mongodb/cdk/bin/cdk.ts
  appsync-mongodb/cdk/cdk.json
  appsync-mongodb/cdk/jest.config.js
  appsync-mongodb/cdk/lib/appsync-mongodb-stack.ts
  appsync-mongodb/cdk/lib/graphql/mappings/addApplicant.js
  appsync-mongodb/cdk/lib/graphql/mappings/getMongoSecret.js
  appsync-mongodb/cdk/lib/graphql/mappings/listApplicants.js
  appsync-mongodb/cdk/lib/graphql/mappings/pipeline.js
  appsync-mongodb/cdk/lib/graphql/schema.graphql
  appsync-mongodb/cdk/package.json
  appsync-mongodb/cdk/test/cdk.test.ts
  appsync-mongodb/cdk/tsconfig.json
  appsync-mongodb/example-pattern.json
Labels: valid-example-pattern-file

#1085 Added pattern for alb to lambda with Pulumi
  alb-lambda-pulumi-ts/.gitignore
  alb-lambda-pulumi-ts/Pulumi.dev.yaml
  alb-lambda-pulumi-ts/Pulumi.yaml
  alb-lambda-pulumi-ts/README.nd
  alb-lambda-pulumi-ts/example-pattern.json
  alb-lambda-pulumi-ts/index.ts
  alb-lambda-pulumi-ts/lambda/index.ts
  alb-lambda-pulumi-ts/lambda/package.json
  alb-lambda-pulumi-ts/package.json
  alb-lambda-pulumi-ts/tsconfig.json
Labels: valid-example-pattern-file

#1102 New serverless pattern - AWS Lambda to AWS Secrets Manager
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/.gitignore
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/README.md
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/cdk/README.md
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/cdk/cdk.json
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/cdk/src/Cdk.sln
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/cdk/src/Cdk/Cdk.csproj
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/cdk/src/Cdk/CdkStack.cs
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/cdk/src/Cdk/GlobalSuppressions.cs
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/cdk/src/Cdk/Program.cs
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/example-pattern.json
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/lambda/SecretsManagerLambda/Function.cs
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/lambda/SecretsManagerLambda/Properties/launchSettings.json
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/lambda/SecretsManagerLambda/Readme.md
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/lambda/SecretsManagerLambda/SecretsManagerLambda.csproj
  lambda-vpc-endpoints-secrets-manager-cdk-dotnet/lambda/SecretsManagerLambda/aws-lambda-tools-defaults.json
Labels: valid-example-pattern-file

#1096 AWS Step Functions callback pattern sample in .NET
  sfn-callback-pattern-cdk-dotnet/Readme.md
  sfn-callback-pattern-cdk-dotnet/example-pattern.json
  sfn-callback-pattern-cdk-dotnet/img/callback-pattern.png
Labels: valid-example-pattern-file

#1011 New serverless pattern - cloudwatch-logs-subscription-lambda-sam
  cloudwatch-logs-subscription-lambda-sam/README.md
  cloudwatch-logs-subscription-lambda-sam/example-pattern.json
  cloudwatch-logs-subscription-lambda-sam/src/app.js
  cloudwatch-logs-subscription-lambda-sam/template.yaml
Labels: requested-changes, invalid-example-pattern-file

#1088 updated link in example pattern file
  apigw-ec2/README.md
  apigw-ec2/example-pattern.json
  apigw-ec2/images/apigwec2.png
  apigw-ec2/template.yaml
  sfn-lambda-function-crossaccount/example-pattern.json
Labels: valid-example-pattern-file

#1092 EventBridge Pipes with IAM authentication enabled MSK cluster as source and Lambda function as target
  eventbridge-pipes-msk-iam-auth-to-lambda/.gitignore
  eventbridge-pipes-msk-iam-auth-to-lambda/README.md
  eventbridge-pipes-msk-iam-auth-to-lambda/example-pattern.json
  eventbridge-pipes-msk-iam-auth-to-lambda/images/lambda-logs.png
  eventbridge-pipes-msk-iam-auth-to-lambda/images/msk-iam-pipes-lambda.png
  eventbridge-pipes-msk-iam-auth-to-lambda/images/put-message.png
  eventbridge-pipes-msk-iam-auth-to-lambda/images/set-env.png
  eventbridge-pipes-msk-iam-auth-to-lambda/msk-cluster.yaml
  eventbridge-pipes-msk-iam-auth-to-lambda/pipes.yaml
  eventbridge-pipes-msk-iam-auth-to-lambda/producer.yaml
  eventbridge-pipes-msk-iam-auth-to-lambda/template.yaml
  eventbridge-pipes-msk-iam-auth-to-lambda/vpc-private.yaml
Labels: requested-changes, valid-example-pattern-file

#1054 New serverless pattern - EventBridge-SQS-ECS
  eventbridge-sqs-ecs-cdk/README.md
  eventbridge-sqs-ecs-cdk/example-pattern.json
  eventbridge-sqs-ecs-cdk/src/README.md
  eventbridge-sqs-ecs-cdk/src/bin/eb-sqs-ecs.d.ts
  eventbridge-sqs-ecs-cdk/src/bin/eb-sqs-ecs.js
  eventbridge-sqs-ecs-cdk/src/bin/eb-sqs-ecs.ts
  eventbridge-sqs-ecs-cdk/src/cdk.context.json
  eventbridge-sqs-ecs-cdk/src/cdk.json
  eventbridge-sqs-ecs-cdk/src/event.json
  eventbridge-sqs-ecs-cdk/src/jest.config.js
  eventbridge-sqs-ecs-cdk/src/lib/eb-sqs-ecs-stack.ts
  eventbridge-sqs-ecs-cdk/src/package.json
  eventbridge-sqs-ecs-cdk/src/python-app/Dockerfile
  eventbridge-sqs-ecs-cdk/src/python-app/app.py
  eventbridge-sqs-ecs-cdk/src/python-app/requirements.txt
  eventbridge-sqs-ecs-cdk/src/test/eb-sqs-ecs.test.d.ts
  eventbridge-sqs-ecs-cdk/src/test/eb-sqs-ecs.test.js
  eventbridge-sqs-ecs-cdk/src/test/eb-sqs-ecs.test.ts
  eventbridge-sqs-ecs-cdk/src/tsconfig.json
Labels: valid-example-pattern-file

#1075 New pattern: Amazon Kinesis event filtering for AWS Lambda
  lambda-esm-kinesis-filters-sam/.gitignore
  lambda-esm-kinesis-filters-sam/README.md
  lambda-esm-kinesis-filters-sam/events/base-json.json
  lambda-esm-kinesis-filters-sam/events/code-is-300.json
  lambda-esm-kinesis-filters-sam/events/custom-with-region.json
  lambda-esm-kinesis-filters-sam/events/plain-string.txt
  lambda-esm-kinesis-filters-sam/events/rbac-is-set.json
  lambda-esm-kinesis-filters-sam/example-pattern.json
  lambda-esm-kinesis-filters-sam/src/app.mjs
  lambda-esm-kinesis-filters-sam/src/package.json
  lambda-esm-kinesis-filters-sam/template.yaml
  lambda-esm-kinesis-filters-sam/test.sh
Labels: requested-changes, valid-example-pattern-file

#1126 Trinhvox feature s3 eventbridge stepfunctions
  s3-eventbridge-sfn-cdk/README.md
  s3-eventbridge-sfn-cdk/example-pattern.json
  s3-eventbridge-sfn-cdk/src/.gitignore
  s3-eventbridge-sfn-cdk/src/.npmignore
  s3-eventbridge-sfn-cdk/src/bin/s3-eventbridge-sfn-cdk.ts
  s3-eventbridge-sfn-cdk/src/cdk.json
  s3-eventbridge-sfn-cdk/src/jest.config.js
  s3-eventbridge-sfn-cdk/src/lib/s3-eventbridge-sfn-stack.ts
  s3-eventbridge-sfn-cdk/src/lib/s3-eventbridge-sfn.ts
  s3-eventbridge-sfn-cdk/src/package.json
  s3-eventbridge-sfn-cdk/src/s3-eventbridge-sfn.png
  s3-eventbridge-sfn-cdk/src/tsconfig.json
Labels: requested-changes, invalid-example-pattern-file

#1132 Update serverless pattern - cwlogs-lambda-sns-sqs-cdk
  cwlogs-lambda-sns-sqs-cdk/example-pattern.json
  cwlogs-lambda-sns-sqs-cdk/requirements.txt
  cwlogs-lambda-sns-sqs-cdk/src/cwlogs_lambda_sns_sqs/cwlogs_lambda_sns_sqs_stack.py
  cwlogs-lambda-sns-sqs-cdk/src/lambda/index.py
Labels: valid-example-pattern-file

#1161 New serverless pattern - eventbridge-schedule-lambda-to-dynamodb
  eventbridge-schedule-lambda-to-dynamodb/README.md
  eventbridge-schedule-lambda-to-dynamodb/cdk/.gitignore
  eventbridge-schedule-lambda-to-dynamodb/cdk/cdk.json
  eventbridge-schedule-lambda-to-dynamodb/cdk/code/src/AddItemsDynamoDB/AddItemsDynamoDB.csproj
  eventbridge-schedule-lambda-to-dynamodb/cdk/code/src/AddItemsDynamoDB/Function.cs
  eventbridge-schedule-lambda-to-dynamodb/cdk/code/src/AddItemsDynamoDB/User.cs
  eventbridge-schedule-lambda-to-dynamodb/cdk/code/src/AddItemsDynamoDB/aws-lambda-tools-defaults.json
  eventbridge-schedule-lambda-to-dynamodb/cdk/src/Cdk.sln
  eventbridge-schedule-lambda-to-dynamodb/cdk/src/Cdk/Cdk.csproj
  eventbridge-schedule-lambda-to-dynamodb/cdk/src/Cdk/CdkStack.cs
  eventbridge-schedule-lambda-to-dynamodb/cdk/src/Cdk/GlobalSuppressions.cs
  eventbridge-schedule-lambda-to-dynamodb/cdk/src/Cdk/Program.cs
  eventbridge-schedule-lambda-to-dynamodb/example-pattern.json
  eventbridge-schedule-lambda-to-dynamodb/images/architecture.png
Labels: requested-changes, invalid-example-pattern-file

#1172 New Serverless Pattern - event bridge scheduler lambda cdk dotnet
  event-bridge-scheduler-lambda-cdk-dotnet/.gitignore
  event-bridge-scheduler-lambda-cdk-dotnet/README.md
  event-bridge-scheduler-lambda-cdk-dotnet/cdk/.gitignore
  event-bridge-scheduler-lambda-cdk-dotnet/cdk/README.md
  event-bridge-scheduler-lambda-cdk-dotnet/cdk/cdk.json
  event-bridge-scheduler-lambda-cdk-dotnet/cdk/src/Cdk.sln
  event-bridge-scheduler-lambda-cdk-dotnet/cdk/src/Cdk/Cdk.csproj
  event-bridge-scheduler-lambda-cdk-dotnet/cdk/src/Cdk/CdkStack.cs
  event-bridge-scheduler-lambda-cdk-dotnet/cdk/src/Cdk/GlobalSuppressions.cs
  event-bridge-scheduler-lambda-cdk-dotnet/cdk/src/Cdk/Program.cs
  event-bridge-scheduler-lambda-cdk-dotnet/example-pattern.json
  event-bridge-scheduler-lambda-cdk-dotnet/lambda/EventBridgeLambda/EventBridgeLambda.csproj
  event-bridge-scheduler-lambda-cdk-dotnet/lambda/EventBridgeLambda/Function.cs
  event-bridge-scheduler-lambda-cdk-dotnet/lambda/EventBridgeLambda/Properties/launchSettings.json
  event-bridge-scheduler-lambda-cdk-dotnet/lambda/EventBridgeLambda/Readme.md
  event-bridge-scheduler-lambda-cdk-dotnet/lambda/EventBridgeLambda/aws-lambda-tools-defaults.json
Labels: valid-example-pattern-file
