Repository aws-samples/serverless-patterns, pull requests merged in 2023-08, with the labels that each got.

#1533 New Serverless Pattern - S3-Lambda-Rekognition-DDB
  s3-lambda-rekognition-ddb-cdk/.gitignore
  s3-lambda-rekognition-ddb-cdk/.npmignore
  s3-lambda-rekognition-ddb-cdk/README.md
  s3-lambda-rekognition-ddb-cdk/bin/s3-lambda-rekognition.ts
  s3-lambda-rekognition-ddb-cdk/cdk.json
  s3-lambda-rekognition-ddb-cdk/example-pattern.json
  s3-lambda-rekognition-ddb-cdk/jest.config.js
  s3-lambda-rekognition-ddb-cdk/lib/rekognitionLambda/lambda_function.py
  s3-lambda-rekognition-ddb-cdk/lib/s3-lambda-rekognition-stack.ts
  s3-lambda-rekognition-ddb-cdk/package.json
  s3-lambda-rekognition-ddb-cdk/test/s3-lambda-rekognition.test.ts
  s3-lambda-rekognition-ddb-cdk/tsconfig.json
Labels: missing-example-pattern-file

#1526 New serverless pattern - Cognito SNS SMS Origination Id
  cognito-sns-sms-origination-id/README.md
  cognito-sns-sms-origination-id/bin/cognito-sns-sms-origination-identity.d.ts
  cognito-sns-sms-origination-id/bin/cognito-sns-sms-origination-identity.js
  cognito-sns-sms-origination-id/bin/cognito-sns-sms-origination-identity.ts
  cognito-sns-sms-origination-id/cdk.json
  cognito-sns-sms-origination-id/example-pattern.json
  cognito-sns-sms-origination-id/images/cognito-sns-sms-id.jpg
  cognito-sns-sms-origination-id/images/no-orignationIdConfig.png
  cognito-sns-sms-origination-id/images/orignationIdConfig-used.png
  cognito-sns-sms-origination-id/jest.config.js
  cognito-sns-sms-origination-id/lambda/code/index.mjs
  cognito-sns-sms-origination-id/lambda/code/orignationIdConfig.json
  cognito-sns-sms-origination-id/lib/cognito-sns-sms-origination-identity-stack.d.ts
  cognito-sns-sms-origination-id/lib/cognito-sns-sms-origination-identity-stack.js
  cognito-sns-sms-origination-id/lib/cognito-sns-sms-origination-identity-stack.ts
  cognito-sns-sms-origination-id/package.json
  cognito-sns-sms-origination-id/test/cognito-sns-sms-origination-identity.test.d.ts
  cognito-sns-sms-origination-id/test/cognito-sns-sms-origination-identity.test.js
  cognito-sns-sms-origination-id/test/cognito-sns-sms-origination-identity.test.ts
  cognito-sns-sms-origination-id/tsconfig.json
Labels: valid-example-pattern-file

#1553 New serverless pattern - sqs-stepfunctions-pipes-pattern
  sqs-stepfunctions-pipes-pattern/README.md
  sqs-stepfunctions-pipes-pattern/example-pattern.json
  sqs-stepfunctions-pipes-pattern/lambda/lambda_function.py
  sqs-stepfunctions-pipes-pattern/statemachine/StateMachine.asl.json
  sqs-stepfunctions-pipes-pattern/template.yaml
Labels: valid-example-pattern-file

#1551 add s3-lambda-rekognition-iot pattern
  s3-lambda-rekognition-iot-cdk/.gitignore
  s3-lambda-rekognition-iot-cdk/.npmignore
  s3-lambda-rekognition-iot-cdk/README.md
  s3-lambda-rekognition-iot-cdk/bin/s3-lambda-rekognition-iot.ts
  s3-lambda-rekognition-iot-cdk/cdk.json
  s3-lambda-rekognition-iot-cdk/example-pattern.json
  s3-lambda-rekognition-iot-cdk/jest.config.js
  s3-lambda-rekognition-iot-cdk/lib/ppeDetectionFunction/lambda_function.py
  s3-lambda-rekognition-iot-cdk/lib/s3-lambda-rekognition-iot-stack.ts
  s3-lambda-rekognition-iot-cdk/package.json
  s3-lambda-rekognition-iot-cdk/test/s3-lambda-rekognition.test.ts
  s3-lambda-rekognition-iot-cdk/tsconfig.json
Labels: valid-example-pattern-file

#1540 API Gateway HTTP API to ASP.NET Core Lambda
  apigw-http-api-lambda-dotnet-sam/HttpApi/.gitignore
  apigw-http-api-lambda-dotnet-sam/HttpApi/Controllers/ValuesController.cs
  apigw-http-api-lambda-dotnet-sam/HttpApi/HttpApi.csproj
  apigw-http-api-lambda-dotnet-sam/HttpApi/LambdaEntryPoint.cs
  apigw-http-api-lambda-dotnet-sam/HttpApi/LocalEntryPoint.cs
  apigw-http-api-lambda-dotnet-sam/HttpApi/Startup.cs
  apigw-http-api-lambda-dotnet-sam/HttpApi/aws-lambda-tools-defaults.json
  apigw-http-api-lambda-dotnet-sam/README.md
  apigw-http-api-lambda-dotnet-sam/example-pattern.json
  apigw-http-api-lambda-dotnet-sam/template.yaml
Labels: valid-example-pattern-file

#1561 New pattern for EventBridge Scheduler and one time deletions
  eventbridge-schedule-dynamic-with-auto-deletion/README.md
  eventbridge-schedule-dynamic-with-auto-deletion/architecture.png
  eventbridge-schedule-dynamic-with-auto-deletion/example-pattern.json
  eventbridge-schedule-dynamic-with-auto-deletion/src/.gitignore
  eventbridge-schedule-dynamic-with-auto-deletion/src/.npmignore
  eventbridge-schedule-dynamic-with-auto-deletion/src/README.md
  eventbridge-schedule-dynamic-with-auto-deletion/src/bin/src.ts
  eventbridge-schedule-dynamic-with-auto-deletion/src/cdk.json
  eventbridge-schedule-dynamic-with-auto-deletion/src/jest.config.js
  eventbridge-schedule-dynamic-with-auto-deletion/src/lib/src-stack.ts
  eventbridge-schedule-dynamic-with-auto-deletion/src/package.json
  eventbridge-schedule-dynamic-with-auto-deletion/src/scripts/insert-record.sh
  eventbridge-schedule-dynamic-with-auto-deletion/src/src/email-service/index.ts
  eventbridge-schedule-dynamic-with-auto-deletion/src/src/schedule-creator/index.ts
  eventbridge-schedule-dynamic-with-auto-deletion/src/tsconfig.json
Labels: valid-example-pattern-file

#1476 New Serverless pattern - lambda-elasticache-integrationpattern
  lambda-elasticache-integrationpattern-cdk/.gitignore
  lambda-elasticache-integrationpattern-cdk/.npmignore
  lambda-elasticache-integrationpattern-cdk/README.md
  lambda-elasticache-integrationpattern-cdk/bin/lambda-elasticache-integrationpattern-cdk.ts
  lambda-elasticache-integrationpattern-cdk/cdk.json
  lambda-elasticache-integrationpattern-cdk/example-pattern.json
  lambda-elasticache-integrationpattern-cdk/jest.config.js
  lambda-elasticache-integrationpattern-cdk/lambda/index.js
  lambda-elasticache-integrationpattern-cdk/lambda/package.json
  lambda-elasticache-integrationpattern-cdk/lib/lambda-elasticache-integrationpattern-cdk-stack.ts
  lambda-elasticache-integrationpattern-cdk/package.json
  lambda-elasticache-integrationpattern-cdk/test/lambda-elasticache-integrationpattern-cdk.test.ts
  lambda-elasticache-integrationpattern-cdk/tsconfig.json
Labels: invalid-example-pattern-file, valid-example-pattern-file

#1573 Adding apigw-lambda-comprehend-sam pattern
  apigw-lambda-comprehend-sam/README.md
  apigw-lambda-comprehend-sam/example-pattern.json
  apigw-lambda-comprehend-sam/src/__init__.py
  apigw-lambda-comprehend-sam/src/app.py
  apigw-lambda-comprehend-sam/template.yaml
Labels: valid-example-pattern-file

#1509 New serverless pattern: cognito-m2m-oauth-apigw-cdk
  cognito-m2m-oauth-apigw-cdk/README.md
  cognito-m2m-oauth-apigw-cdk/example-pattern.json
  cognito-m2m-oauth-apigw-cdk/src/.gitignore
  cognito-m2m-oauth-apigw-cdk/src/.npmignore
  cognito-m2m-oauth-apigw-cdk/src/README.md
  cognito-m2m-oauth-apigw-cdk/src/bin/cdk-cognito-oauth-authorizer.ts
  cognito-m2m-oauth-apigw-cdk/src/cdk.json
  cognito-m2m-oauth-apigw-cdk/src/image/arch.png
  cognito-m2m-oauth-apigw-cdk/src/jest.config.js
  cognito-m2m-oauth-apigw-cdk/src/lib/cdk-cognito-oauth-authorizer-stack.ts
  cognito-m2m-oauth-apigw-cdk/src/package.json
  cognito-m2m-oauth-apigw-cdk/src/src/lambda/user/index.ts
  cognito-m2m-oauth-apigw-cdk/src/test/cdk-cognito-oauth-authorizer.test.ts
  cognito-m2m-oauth-apigw-cdk/src/tsconfig.json
Labels: valid-example-pattern-file

#1468 Added example-pattern.json
  cdk-s3-sqs-lambda-dynamodb/.gitignore
  cdk-s3-sqs-lambda-dynamodb/README.md
  cdk-s3-sqs-lambda-dynamodb/bin/my-cdk-project.ts
  cdk-s3-sqs-lambda-dynamodb/cdk.json
  cdk-s3-sqs-lambda-dynamodb/data/test.csv
  cdk-s3-sqs-lambda-dynamodb/example-pattern.json
  cdk-s3-sqs-lambda-dynamodb/jest.config.js
  cdk-s3-sqs-lambda-dynamodb/lambda/index.py
  cdk-s3-sqs-lambda-dynamodb/lib/my-cdk-project-stack.ts
  cdk-s3-sqs-lambda-dynamodb/package.json
  cdk-s3-sqs-lambda-dynamodb/test/my-cdk-project.test.ts
  cdk-s3-sqs-lambda-dynamodb/tsconfig.json
Labels: invalid-example-pattern-file, valid-example-pattern-file, missing-example-pattern-file

#1601 New serverless pattern - Kinesis Data Streams integration with Lambda using the AWS CDK in Java
  kinesis-lambda-cdk-java/.gitignore
  kinesis-lambda-cdk-java/README.md
  kinesis-lambda-cdk-java/cdk.json
  kinesis-lambda-cdk-java/example-pattern.json
  kinesis-lambda-cdk-java/package.json
  kinesis-lambda-cdk-java/pom.xml
  kinesis-lambda-cdk-java/software/LambdaFunction/pom.xml
  kinesis-lambda-cdk-java/software/LambdaFunction/src/main/java/com/example/MyFunction.java
  kinesis-lambda-cdk-java/src/main/java/com/myorg/MyServerlessApplicationApp.java
  kinesis-lambda-cdk-java/src/main/java/com/myorg/MyServerlessApplicationStack.java
Labels: invalid-example-pattern-file

#1610 New serverless pattern - sns-slack-teams-integration-cdk-python
  sns-slack-teams-integration-cdk-python/README.md
  sns-slack-teams-integration-cdk-python/app.py
  sns-slack-teams-integration-cdk-python/cdk.json
  sns-slack-teams-integration-cdk-python/example-pattern.json
  sns-slack-teams-integration-cdk-python/lambda/lambda_function.py
  sns-slack-teams-integration-cdk-python/requirements.txt
  sns-slack-teams-integration-cdk-python/sns_slack_teams_integration_cdk_python/__init__.py
  sns-slack-teams-integration-cdk-python/sns_slack_teams_integration_cdk_python/sns_slack_teams_integration_cdk_python_stack.py
  sns-slack-teams-integration-cdk-python/source.bat
Labels: valid-example-pattern-file

#1611 New Serverless Pattern - sqs-lambda-dynamodb-message-aggregator-cdk
  sqs-lambda-dynamodb-message-aggregator-cdk/README.md
  sqs-lambda-dynamodb-message-aggregator-cdk/example-pattern.json
  sqs-lambda-dynamodb-message-aggregator-cdk/src/.gitignore
  sqs-lambda-dynamodb-message-aggregator-cdk/src/.npmignore
  sqs-lambda-dynamodb-message-aggregator-cdk/src/bin/src.ts
  sqs-lambda-dynamodb-message-aggregator-cdk/src/cdk.json
  sqs-lambda-dynamodb-message-aggregator-cdk/src/code/handler.js
  sqs-lambda-dynamodb-message-aggregator-cdk/src/jest.config.js
  sqs-lambda-dynamodb-message-aggregator-cdk/src/lib/src-stack.ts
  sqs-lambda-dynamodb-message-aggregator-cdk/src/msg/attributes-01.json
  sqs-lambda-dynamodb-message-aggregator-cdk/src/msg/attributes-02.json
  sqs-lambda-dynamodb-message-aggregator-cdk/src/msg/attributes-03.json
  sqs-lambda-dynamodb-message-aggregator-cdk/src/msg/message-01.json
  sqs-lambda-dynamodb-message-aggregator-cdk/src/msg/message-02.json
  sqs-lambda-dynamodb-message-aggregator-cdk/src/msg/message-03.json
  sqs-lambda-dynamodb-message-aggregator-cdk/src/msg/test.sh
  sqs-lambda-dynamodb-message-aggregator-cdk/src/package.json
  sqs-lambda-dynamodb-message-aggregator-cdk/src/test/src.test.ts
  sqs-lambda-dynamodb-message-aggregator-cdk/src/tsconfig.json
Labels: valid-example-pattern-file
