Repository aws-samples/serverless-patterns, pull requests merged in 2023-06, with the labels that each got.

#1259 systems-manager-to-stepfunction to main
  systems-manager-automation-to-stepfunctions/README.md
  systems-manager-automation-to-stepfunctions/example-pattern.json
  systems-manager-automation-to-stepfunctions/example-ssm-step-functions.json
  systems-manager-automation-to-stepfunctions/src/__pycache__/boto3.cpython-39.pyc
  systems-manager-automation-to-stepfunctions/src/create-snapshot-lamda-function.py
  systems-manager-automation-to-stepfunctions/src/get-snapshot-status-lamda-function.py
  systems-manager-automation-to-stepfunctions/src/iterate.js
  systems-manager-automation-to-stepfunctions/src/statemchinedefinitionstring.asl.json
  systems-manager-automation-to-stepfunctions/template.yaml
Labels: missing-example-pattern-file

#1291 Initial commit for serverless pattern
  cdk-apigw-authorizer-sqs/README.md
  cdk-apigw-authorizer-sqs/apigw_sqs/apigw_sqs_auth_stack.py
  cdk-apigw-authorizer-sqs/apigw_sqs/apigw_sqs_stack.py
  cdk-apigw-authorizer-sqs/app.py
  cdk-apigw-authorizer-sqs/cdk.context.json
  cdk-apigw-authorizer-sqs/cdk.json
  cdk-apigw-authorizer-sqs/example-pattern.json
  cdk-apigw-authorizer-sqs/images/apigw-arch.png
  cdk-apigw-authorizer-sqs/images/apigw-aws-console.png
  cdk-apigw-authorizer-sqs/images/lambda-auth-blueprint.png
  cdk-apigw-authorizer-sqs/manifest.json
  cdk-apigw-authorizer-sqs/requirements-dev.txt
  cdk-apigw-authorizer-sqs/requirements.txt
  cdk-apigw-authorizer-sqs/tree.json
Labels: valid-example-pattern-file

#1277 New serverless pattern - msk-cfn-sasl-lambda
  msk-cfn-sasl-lambda/README.md
  msk-cfn-sasl-lambda/create-cluster-cfn/MSKSampleStack.yml
  msk-cfn-sasl-lambda/create-cluster-cfn/README.md
  msk-cfn-sasl-lambda/example-pattern.json
  msk-cfn-sasl-lambda/images/msk-lambda-sasl.png
  msk-cfn-sasl-lambda/msk-cfn-sasl-lambda.drawio
  msk-cfn-sasl-lambda/src/app.js
  msk-cfn-sasl-lambda/template.yaml
Labels: requested-changes, valid-example-pattern-file

#1328 Apigw lambda dynamodb python cdk
  apigw-http-api-lambda-dynamodb-python-cdk/.gitignore
  apigw-http-api-lambda-dynamodb-python-cdk/README.md
  apigw-http-api-lambda-dynamodb-python-cdk/app.py
  apigw-http-api-lambda-dynamodb-python-cdk/cdk.json
  apigw-http-api-lambda-dynamodb-python-cdk/docs/architecture.drawio
  apigw-http-api-lambda-dynamodb-python-cdk/docs/architecture.png
  apigw-http-api-lambda-dynamodb-python-cdk/example-pattern.json
  apigw-http-api-lambda-dynamodb-python-cdk/lambda/apigw-handler/index.py
  apigw-http-api-lambda-dynamodb-python-cdk/requirements-dev.txt
  apigw-http-api-lambda-dynamodb-python-cdk/requirements.txt
  apigw-http-api-lambda-dynamodb-python-cdk/source.bat
  apigw-http-api-lambda-dynamodb-python-cdk/stacks/__init__.py
  apigw-http-api-lambda-dynamodb-python-cdk/stacks/apigw_http_api_lambda_dynamodb_python_cdk_stack.py
Labels: valid-example-pattern-file

#1410 Update README.md, title change
  cloudtrail-lambda-dynamo-cdk/README.md
Labels: missing-example-pattern-file

#1388 New Serverless Pattern - Lambda-S3-Polly-CDK
  lambda-s3-polly-cdk/README.md
  lambda-s3-polly-cdk/app.py
  lambda-s3-polly-cdk/architecture.png
  lambda-s3-polly-cdk/cdk.json
  lambda-s3-polly-cdk/example-pattern.json
  lambda-s3-polly-cdk/pattern/amazon_polly_stack.py
  lambda-s3-polly-cdk/pattern/assets/lambda_function.py
  lambda-s3-polly-cdk/requirements.txt
Labels: valid-example-pattern-file

#1394 New Serverless Pattern: CloudwatchAlarm-SNS-KinesisFirehose-Opensearch
  sns-firehose-opensearch/README.md
  sns-firehose-opensearch/example-pattern.json
  sns-firehose-opensearch/sns-firehose-opensearch.jpg
  sns-firehose-opensearch/template.yml
Labels: valid-example-pattern-file

#1404 Readme updates and removed build generated files
  apigw-dynamodb-lambda-scheduler-sqs-cdk/.gitignore
  apigw-dynamodb-lambda-scheduler-sqs-cdk/.npmignore
  apigw-dynamodb-lambda-scheduler-sqs-cdk/README.md
  apigw-dynamodb-lambda-scheduler-sqs-cdk/architecture.png
  apigw-dynamodb-lambda-scheduler-sqs-cdk/bin/aws-dynamodb-lambda-scheduler-lambda-sample.d.ts
  apigw-dynamodb-lambda-scheduler-sqs-cdk/bin/aws-dynamodb-lambda-scheduler-lambda-sample.js
  apigw-dynamodb-lambda-scheduler-sqs-cdk/bin/aws-dynamodb-lambda-scheduler-lambda-sample.ts
  apigw-dynamodb-lambda-scheduler-sqs-cdk/example-pattern.json
  apigw-dynamodb-lambda-scheduler-sqs-cdk/lambdas/dynamo_stream_handler.d.ts
  apigw-dynamodb-lambda-scheduler-sqs-cdk/lambdas/dynamo_stream_handler.js
  apigw-dynamodb-lambda-scheduler-sqs-cdk/lambdas/event_schedule_handler.d.ts
  apigw-dynamodb-lambda-scheduler-sqs-cdk/lambdas/event_schedule_handler.js
  apigw-dynamodb-lambda-scheduler-sqs-cdk/lambdas/schemas/input-request-schema.d.ts
  apigw-dynamodb-lambda-scheduler-sqs-cdk/lambdas/schemas/input-request-schema.js
  apigw-dynamodb-lambda-scheduler-sqs-cdk/lambdas/utils/scheduler.d.ts
  apigw-dynamodb-lambda-scheduler-sqs-cdk/lambdas/utils/scheduler.js
  apigw-dynamodb-lambda-scheduler-sqs-cdk/lib/aws-dynamodb-lambda-scheduler-lambda-sample-stack.ts
  apigw-dynamodb-lambda-scheduler-sqs-cdk/test/aws-dynamodb-lambda-scheduler-lambda-sample.test.d.ts
  apigw-dynamodb-lambda-scheduler-sqs-cdk/test/aws-dynamodb-lambda-scheduler-lambda-sample.test.js
  apigw-dynamodb-lambda-scheduler-sqs-cdk/test/aws-dynamodb-lambda-scheduler-lambda-sample.test.ts
Labels: valid-example-pattern-file

#1402 Queue-Based Leveling pattern - apigateway-lambdaAuthorizer-SQS
  cdk-apigw-authorizer-sqs/example-pattern.json
Labels: valid-example-pattern-file

#1409 New Serverless pattern: websocket api to SNS with request validation
  apigw-websocket-api-sns/README.md
  apigw-websocket-api-sns/example-pattern.json
  apigw-websocket-api-sns/template.yaml
  apigw-websocket-api-sns/wf-sns.png
Labels: valid-example-pattern-file

#1419 New serverless pattern - eventbridge-sns-java-cdk
  eventbridge-sns-java-cdk/README.md
  eventbridge-sns-java-cdk/cdk.json
  eventbridge-sns-java-cdk/example-pattern.json
  eventbridge-sns-java-cdk/pom.xml
  eventbridge-sns-java-cdk/src/main/java/com/myorg/CdkEventBridgeSnsApp.java
  eventbridge-sns-java-cdk/src/main/java/com/myorg/CdkEventBridgeSnsStack.java
  eventbridge-sns-java-cdk/src/test/java/com/myorg/CdkEventBridgeSnsTest.java
Labels: valid-example-pattern-file
