Repository aws-samples/serverless-patterns, pull requests merged in 2024-01, with the labels that each got.

#1987 new pattern
  apigw-comprehend/README.md
  apigw-comprehend/apigw-comprehend.json
  apigw-comprehend/example-pattern.json
  apigw-comprehend/template.yaml
Labels: valid-example-pattern-file, Patterns Guardian approved

#2001 New serverless pattern - apigw-websocket-fargate-cdk
  apigw-websocket-api-fargate-cdk/README.md
  apigw-websocket-api-fargate-cdk/apigw-alb-fargate.json
  apigw-websocket-api-fargate-cdk/apigw_websocket_fargate_cdk/__init__.py
  apigw-websocket-api-fargate-cdk/apigw_websocket_fargate_cdk/apigw_websocket_fargate_cdk_stack.py
  apigw-websocket-api-fargate-cdk/app.py
  apigw-websocket-api-fargate-cdk/cdk.json
  apigw-websocket-api-fargate-cdk/example-pattern.json
  apigw-websocket-api-fargate-cdk/requirements.txt
  apigw-websocket-api-fargate-cdk/source.bat
  apigw-websocket-api-fargate-cdk/src/api/Dockerfile
  apigw-websocket-api-fargate-cdk/src/api/app/__init__.py
  apigw-websocket-api-fargate-cdk/src/api/app/main.py
  apigw-websocket-api-fargate-cdk/src/api/requirements.txt
Labels: valid-example-pattern-file, Patterns Guardian approved

#1997 feat(apigw-http-api-eventbridge-lambda-sls): Modernize the example
  apigw-http-api-eventbridge-lambda-sls/package.json
  apigw-http-api-eventbridge-lambda-sls/serverless.yml
Labels: missing-example-pattern-file

#1919 New serverless pattern: ApiGateway-Lambda-Bedrock using AWS SDK for Java
  apigw-lambda-bedrock-cdk-java/README.md
  apigw-lambda-bedrock-cdk-java/apigw-lambda-bedrock-java.json
  apigw-lambda-bedrock-cdk-java/example-pattern.json
  apigw-lambda-bedrock-cdk-java/images/architecture.png
  apigw-lambda-bedrock-cdk-java/infrastructure/.gitignore
  apigw-lambda-bedrock-cdk-java/infrastructure/cdk.json
  apigw-lambda-bedrock-cdk-java/infrastructure/deploy.sh
  apigw-lambda-bedrock-cdk-java/infrastructure/pom.xml
  apigw-lambda-bedrock-cdk-java/infrastructure/src/main/java/com/example/InfrastructureApp.java
  apigw-lambda-bedrock-cdk-java/infrastructure/src/main/java/com/example/InfrastructureStack.java
  apigw-lambda-bedrock-cdk-java/infrastructure/src/test/java/com/example/InfrastructureStackTest.java
  apigw-lambda-bedrock-cdk-java/software/dependency-reduced-pom.xml
  apigw-lambda-bedrock-cdk-java/software/pom.xml
  apigw-lambda-bedrock-cdk-java/software/src/main/java/com/example/BedrockClient.java
  apigw-lambda-bedrock-cdk-java/software/src/main/java/com/example/Body.java
Labels: valid-example-pattern-file

#2010 refactor(lambda-layer): use output_base64sha256 source code hash
  lambda-layer-terraform/main.tf
Labels: missing-example-pattern-file

#1977 New Serverless Pattern : AWS Lambda (Python) and Amazon Bedrock integration - Terraform
  terraform-lambda-bedrock-integration/README.md
  terraform-lambda-bedrock-integration/bin/build.sh
  terraform-lambda-bedrock-integration/bin/dir_md5.sh
  terraform-lambda-bedrock-integration/containercode/Dockerfile
  terraform-lambda-bedrock-integration/containercode/app.py
  terraform-lambda-bedrock-integration/containercode/requirements.txt
  terraform-lambda-bedrock-integration/example-pattern.json
  terraform-lambda-bedrock-integration/main.tf
  terraform-lambda-bedrock-integration/outputs.tf
  terraform-lambda-bedrock-integration/templates/ecr-lifecycle-policy.json
  terraform-lambda-bedrock-integration/templates/kms-policy.json
  terraform-lambda-bedrock-integration/templates/lambda-role.json
  terraform-lambda-bedrock-integration/terraform-lambda-bedrock-integration.json
  terraform-lambda-bedrock-integration/terraform-lambda-bedrock.json
  terraform-lambda-bedrock-integration/variables.tf
  terraform-lambda-bedrock-integration/versions.tf
Labels: valid-example-pattern-file, Patterns Guardian approved

#2011 New serverless pattern - AWS Step Functions to Amazon Bedrock Integration (SAM)
  stepfunctions-bedrock-sam/README.md
  stepfunctions-bedrock-sam/example-pattern.json
  stepfunctions-bedrock-sam/image/architecture.png
  stepfunctions-bedrock-sam/sfn-bedrock-sam.json
  stepfunctions-bedrock-sam/statemachine/bedrock-integration.asl.json
  stepfunctions-bedrock-sam/template.yaml
Labels: valid-example-pattern-file, Patterns Guardian approved

#2015 Implementation of Apprunner service for API deployment
  apprunner-cdk-dotnet/.gitignore
  apprunner-cdk-dotnet/README.md
  apprunner-cdk-dotnet/apprunner-cdk-dotnet.json
  apprunner-cdk-dotnet/cdk.json
  apprunner-cdk-dotnet/example-pattern.json
  apprunner-cdk-dotnet/src/ApprunnerCdkDotnet.sln
  apprunner-cdk-dotnet/src/ApprunnerCdkDotnet/ApprunnerCdkDotnet.csproj
  apprunner-cdk-dotnet/src/ApprunnerCdkDotnet/ApprunnerCdkDotnetStack.cs
  apprunner-cdk-dotnet/src/ApprunnerCdkDotnet/GlobalSuppressions.cs
  apprunner-cdk-dotnet/src/ApprunnerCdkDotnet/Program.cs
  apprunner-cdk-dotnet/src/DemoApplication.API/.dockerignore
  apprunner-cdk-dotnet/src/DemoApplication.API/Controllers/WeatherForecastController.cs
  apprunner-cdk-dotnet/src/DemoApplication.API/DemoApplication.API.csproj
  apprunner-cdk-dotnet/src/DemoApplication.API/DemoApplication.API.sln
  apprunner-cdk-dotnet/src/DemoApplication.API/Dockerfile
  apprunner-cdk-dotnet/src/DemoApplication.API/Program.cs
  apprunner-cdk-dotnet/src/DemoApplication.API/Properties/launchSettings.json
  apprunner-cdk-dotnet/src/DemoApplication.API/WeatherForecast.cs
  apprunner-cdk-dotnet/src/DemoApplication.API/appsettings.Development.json
  apprunner-cdk-dotnet/src/DemoApplication.API/appsettings.json
Labels: valid-example-pattern-file

#2004 New serverless pattern - apigw-websocket-api-lambda-authorizer
  apigw-websocket-api-lambda-authorizer/.gitignore
  apigw-websocket-api-lambda-authorizer/Readme.md
  apigw-websocket-api-lambda-authorizer/apigw-websocket-api-lambda-authorizer.json
  apigw-websocket-api-lambda-authorizer/assets/img/architecture.png
  apigw-websocket-api-lambda-authorizer/example-pattern.json
  apigw-websocket-api-lambda-authorizer/src/LambdaAuthorizer/CognitoJwtVerifier.cs
  apigw-websocket-api-lambda-authorizer/src/LambdaAuthorizer/Function.cs
  apigw-websocket-api-lambda-authorizer/src/LambdaAuthorizer/LambdaAuthorizer.csproj
  apigw-websocket-api-lambda-authorizer/src/LambdaAuthorizer/Properties/launchSettings.json
  apigw-websocket-api-lambda-authorizer/src/LambdaAuthorizer/Readme.md
  apigw-websocket-api-lambda-authorizer/src/LambdaAuthorizer/aws-lambda-tools-defaults.json
  apigw-websocket-api-lambda-authorizer/src/WebSocketAPI.sln
  apigw-websocket-api-lambda-authorizer/src/WebSocketAPI/Functions.cs
  apigw-websocket-api-lambda-authorizer/src/WebSocketAPI/Properties/launchSettings.json
  apigw-websocket-api-lambda-authorizer/src/WebSocketAPI/Readme.md
  apigw-websocket-api-lambda-authorizer/src/WebSocketAPI/WebSocketAPI.csproj
  apigw-websocket-api-lambda-authorizer/src/WebSocketAPI/aws-lambda-tools-defaults.json
  apigw-websocket-api-lambda-authorizer/template.yaml
Labels: valid-example-pattern-file

#2020 New serverless pattern : Lambda event generation, their distribution via EventBridge rules to rate controlled processing using SQS+Lambda
  lambda-eventbridge-sqs-lambda-cdk-python/README.md
  lambda-eventbridge-sqs-lambda-cdk-python/app.py
  lambda-eventbridge-sqs-lambda-cdk-python/cdk.json
  lambda-eventbridge-sqs-lambda-cdk-python/example-pattern.json
  lambda-eventbridge-sqs-lambda-cdk-python/lambda-eb-sqs-lambda.json
  lambda-eventbridge-sqs-lambda-cdk-python/lambda-eventbridge-sqs-lamda-cdk-python.code-workspace
  lambda-eventbridge-sqs-lambda-cdk-python/requirements.txt
  lambda-eventbridge-sqs-lambda-cdk-python/src/eventProcessor.py
  lambda-eventbridge-sqs-lambda-cdk-python/src/eventsGenerator.py
Labels: valid-example-pattern-file, Patterns Guardian approved

#2030 New servereless pattern eventbridge-pipes-sqs-to-redshift
  eventbridge-pipes-sqs-to-redshift-cdk-python/README.md
  eventbridge-pipes-sqs-to-redshift-cdk-python/SQS_Redshift_Pipe.jpg
  eventbridge-pipes-sqs-to-redshift-cdk-python/amazon_sqs_integration_with_redshift/__init__.py
  eventbridge-pipes-sqs-to-redshift-cdk-python/amazon_sqs_integration_with_redshift/amazon_sqs_integration_with_redshift.py
  eventbridge-pipes-sqs-to-redshift-cdk-python/app.py
  eventbridge-pipes-sqs-to-redshift-cdk-python/cdk.json
  eventbridge-pipes-sqs-to-redshift-cdk-python/eventbridge-pipes-sqs-to-redshift-cdk-python.json
  eventbridge-pipes-sqs-to-redshift-cdk-python/example-pattern.json
  eventbridge-pipes-sqs-to-redshift-cdk-python/requirements.txt
  eventbridge-pipes-sqs-to-redshift-cdk-python/source.bat
  eventbridge-pipes-sqs-to-redshift/README.md
  eventbridge-pipes-sqs-to-redshift/SQS_Redshift_Pipe.jpg
  eventbridge-pipes-sqs-to-redshift/amazon_sqs_integration_with_redshift/__init__.py
  eventbridge-pipes-sqs-to-redshift/amazon_sqs_integration_with_redshift/amazon_sqs_integration_with_redshift.py
  eventbridge-pipes-sqs-to-redshift/app.py
  eventbridge-pipes-sqs-to-redshift/cdk.json
  eventbridge-pipes-sqs-to-redshift/example-pattern.json
  eventbridge-pipes-sqs-to-redshift/requirements.txt
  eventbridge-pipes-sqs-to-redshift/source.bat
Labels: valid-example-pattern-file

#1992 Serverless pattern eventbridge schedule remove one time schedules cdk python
  eventbridge-schedule-remove-one-time-schedules-cdk-python/.gitignore
  eventbridge-schedule-remove-one-time-schedules-cdk-python/README.md
  eventbridge-schedule-remove-one-time-schedules-cdk-python/app.py
  eventbridge-schedule-remove-one-time-schedules-cdk-python/cdk.json
  eventbridge-schedule-remove-one-time-schedules-cdk-python/eventbridge-schedule-remove-one-time-schedules-cdk-python.json
  eventbridge-schedule-remove-one-time-schedules-cdk-python/eventbridge_schedule_remove_onetime_schedules_cdk_python/__init__.py
  eventbridge-schedule-remove-one-time-schedules-cdk-python/eventbridge_schedule_remove_onetime_schedules_cdk_python/eventbridge_schedule_remove_onetime_schedules_cdk_python_stack.py
  eventbridge-schedule-remove-one-time-schedules-cdk-python/example-pattern.json
  eventbridge-schedule-remove-one-time-schedules-cdk-python/img/onetimeschedule-architecturediagram.png
  eventbridge-schedule-remove-one-time-schedules-cdk-python/lambda/scheduled_event_remover_lambda.py
  eventbridge-schedule-remove-one-time-schedules-cdk-python/requirements.txt
Labels: valid-example-pattern-file, Patterns Guardian approved

#2038 New serverless pattern - Kinesis DS with ESM filtering (CDK + Python)
  kinesis-data-stream-lambda-esm-cdk-python/README.md
  kinesis-data-stream-lambda-esm-cdk-python/cdk/.gitignore
  kinesis-data-stream-lambda-esm-cdk-python/cdk/app.py
  kinesis-data-stream-lambda-esm-cdk-python/cdk/cdk.json
  kinesis-data-stream-lambda-esm-cdk-python/cdk/data_stream_processor/__init__.py
  kinesis-data-stream-lambda-esm-cdk-python/cdk/data_stream_processor/consumer/lambda_function.py
  kinesis-data-stream-lambda-esm-cdk-python/cdk/data_stream_processor/kinesis_lambda.py
  kinesis-data-stream-lambda-esm-cdk-python/cdk/requirements-dev.txt
  kinesis-data-stream-lambda-esm-cdk-python/cdk/requirements.txt
  kinesis-data-stream-lambda-esm-cdk-python/cdk/scripts/producer.py
  kinesis-data-stream-lambda-esm-cdk-python/cdk/source.bat
  kinesis-data-stream-lambda-esm-cdk-python/example-pattern.json
  kinesis-data-stream-lambda-esm-cdk-python/kinesis-data-stream-lambda-esm-cdk-python.json
Labels: valid-example-pattern-file

#2042 New Serverless Pattern - Step Functions HTTP Endpoint integration (Corrected PR)
  stepfunctions-httpendpoint-sam/README.md
  stepfunctions-httpendpoint-sam/example-pattern.json
  stepfunctions-httpendpoint-sam/image/architecture.png
  stepfunctions-httpendpoint-sam/statemachine/httpendpoint-integration.asl.json
  stepfunctions-httpendpoint-sam/stepfunctions-httpendpoint-sam.json
  stepfunctions-httpendpoint-sam/template.yaml
Labels: valid-example-pattern-file

#2041 New serverless pattern - sam-dynamodb-glue-transform
  sam-dynamodb-glue-transform/README.md
  sam-dynamodb-glue-transform/example-pattern.json
  sam-dynamodb-glue-transform/src/__init__.py
  sam-dynamodb-glue-transform/src/data/__init.__.py
  sam-dynamodb-glue-transform/src/data/etl_data.py
  sam-dynamodb-glue-transform/src/glue_jobs/transform_testtable.py
  sam-dynamodb-glue-transform/src/main.py
  sam-dynamodb-glue-transform/src/scripts/batch-orchestration-script.sh
  sam-dynamodb-glue-transform/src/scripts/run-job.sh
  sam-dynamodb-glue-transform/src/template.yml
Labels: valid-example-pattern-file, Patterns Guardian approved
